[2013-09-10 23:02] cameronmcefee opened #2 "Escaped html tags still get ignored"
Given a string like `> \<hunks\> (\<options\>, \<grid width\>, \<grid offset\> )`, markdown-preview still ignores/doesn't show the text between the brackets.

![screen shot 2013-09-10 at 4 00 38 pm](https://f.cloud.github.com/assets/72919/1119097/ea5827a2-1a6c-11e3-807e-406abbb5183b.png)

[2013-09-10 23:45] #2 closed, assigned to nobody

[2013-09-11 00:43] cameronmcefee opened #3 "Doesn't support reference style links"
Markdown preview doesn't seem to support reference style links:

`[My link][mylink]`

`[mylink]: http://link.com`

![screen shot 2013-09-10 at 5 39 54 pm](https://f.cloud.github.com/assets/72919/1119534/da062ee0-1a7a-11e3-98b6-e4925ea9a51b.png)

[2013-09-11 18:29] #3 closed, assigned to nobody

[2013-09-25 03:31] kevinsawicki opened #5 "Code looks blurry"
Using atom-dark-ui and atom-dark-syntax.

/cc @benogle

![screen shot 2013-09-24 at 8 30 31 pm](https://f.cloud.github.com/assets/671378/1205897/ea896714-2592-11e3-8fc2-e21ee17622b1.png)

[2013-09-27 01:20] #5 closed, assigned to nobody

[2013-09-27 01:25] benogle opened #6 "Should markdown preview adhere to your theme?"
Right now, it looks like github's website (syntax and all!), no matter the themes you have activated.

Do you think it should adhere to your current theme?

If so, I was thinking I could extract the current styles into a github-markdown-theme package so people could make it look like the website.

[2013-10-22 19:07] benogle opened #7 "Closing atom with a markdown-preview open, then reopening will fail on next startup"
- start atom, open a markdown file
- open the markdown preview
- reload atom
- fail!

It fails on trying to generate the URI for the preview in this code: `@buffer.getPath()` `@buffer` is undefined. My thought is that this is related to the async file loading, @probablycorey?

[2013-10-22 23:31] #7 closed, assigned to nobody

[2013-10-29 21:13] mcolyer opened #8 "Doesn't open in windows"
The pane doesn't open and no errors are visible in the devtools.

[2013-11-01 20:56] #8 closed, assigned to nobody

[2013-11-05 19:22] benogle opened #10 "domutils not found?"
I cant get markdown preview to work.

![screen shot 2013-11-05 at 11 16 50 am](https://f.cloud.github.com/assets/69169/1476772/68a8bb68-464f-11e3-82ef-83561da93b2e.png)

I pull and run this package's tests, everything is ok. But it wont invoke in the editor, and it makes the main atom tests fail for me.

I pulled master, ran script/build, then tried a linked version of markdown-preview. Both had t

[2013-11-05 19:25] #10 closed, assigned to nobody

[2014-02-17 22:03] thedaniel opened #13 "Rows of tildes mean preview doesn't match github.com"
In fact, they are rendered in an unpleasant manner.

atom:

![screen shot 2014-02-17 at 2 01 26 pm](https://f.cloud.github.com/assets/1476/2189908/454755a4-981f-11e3-990c-736d72d299a8.png)

github.com new issue field:

![screen shot 2014-02-17 at 2 01 41 pm](https://f.cloud.github.com/assets/1476/2189909/471529ba-981f-11e3-9386-3f3ca673f575.png)

[2014-02-26 18:46] kevinsawicki opened #15 "Support files that don't exist"
Currently the command just logs a warning, but it could still preview even for unsaved/untitled editors

[2014-02-27 05:57] postmechanical opened #17 "Uncaught TypeError: Object #<Editor> has no method 'renderMarkdown'"

[2014-02-27 17:55] caged opened #19 "Support render-as-you-type"
We should rerender the markdown preview when changes are detected to the editor buffer.

[2014-02-27 17:58] karan opened #20 "Add embedded MathJax"
It should be able to embed MathJax within markdown. Adding this snippet on top of the document works but native support would be awesome.
[code]

[2014-02-27 19:20] econchick opened #21 "Can not update markdown preview to 0.38.0"
I originally had preview already open.  I closed it, elected to install the update, and an error again.  I restarted Atom, and still the same error.

I'm running atom version 0.60.0 on Mavericks 10.9.2

Here's the log:

[code]

[2014-02-27 19:35] #21 closed, assigned to nobody

[2014-02-27 20:27] ctwise opened #22 "Can't install update"
npm http GET https://registry.npmjs.org/pathwatcher/0.16.0
npm http GET https://registry.npmjs.org/roaster
npm http GET https://registry.npmjs.org/temp
npm http GET https://registry.npmjs.org/underscore-plus
npm http GET https://registry.npmjs.org/fs-plus
npm http GET https://registry.npmjs.org/wrench
npm http 200 https://registry.npmjs.org/underscore-plus
npm http GET https://registry.npmjs.org/u

[2014-02-27 20:55] #22 closed, assigned to nobody

[2014-02-27 23:33] #17 closed, assigned to nobody

[2014-02-28 01:09] jbranchaud opened #23 "Allow the keybinding to toggle the preview tab"
Have you considered setting the `ctrl-shift-m` keybinding to toggle the markdown preview between being open and being closed? It seems natural that it would do so.

[2014-02-28 08:44] jeromeetienne opened #24 "synchronize scrolling between file.md and its preview"
thus when you scroll on the original file, you see where you are in the preview tab

[2014-02-28 10:28] jumoel opened #25 "Auto-refresh preview when buffer changes"
It would be great if the preview could auto-update when the contents of the "raw" buffer changes.

[2014-02-28 10:42] #25 closed, assigned to nobody

[2014-02-28 10:47] jumoel opened #26 "Render YAML preamble"
At the moment, the preamble isn't rendered in a good way.

![Example](https://f.cloud.github.com/assets/18848/2293059/a841215a-a065-11e3-94ae-9a3044a91c2d.png)

[2014-02-28 21:48] noamross opened #27 "No preview, opens developer tab"
When generating markdown preview in some cases (e.g., this file: https://github.com/rosehartman/frog-trap/blob/master/trap_model_manduscript copy.md), none is generated.  A preview tab opens, but it is an empty, unstyled buffer.  The dev pane at the bottom also opens. Here's the console output:

[code]

[2014-02-28 22:25] #27 closed, assigned to kevinsawicki

[2014-03-01 02:12] yurimalheiros opened #28 "Preview does not work with filenames containing whitespaces"
Steps to reproduce the error:
1. Create a file: "read me.md"
2. Type something and save
3. Select packages > markdown > preview buffer

[2014-03-01 16:07] #28 closed, assigned to nobody

[2014-03-01 16:51] yurimalheiros opened #29 "Preview does not work with paths containing accented characters"
Steps to reproduce the error:
1. Create a file: "áccéntéd.md"
2. Type something and save
3. Select packages > markdown > preview buffer

[2014-03-01 21:18] #29 closed, assigned to nobody

[2014-03-02 11:00] ukhaiku opened #31 "Update to Markdown Preview 0.43.0 failed"
Running atom version 0.60.0

Generated the following error message:

/Applications/Atom.app/Contents/Resources/app/node_modules/atom-package-manager/node_modules/npm/bin/node-gyp-bin/node-gyp: line 2: node: command not found
npm ERR! error rolling back Error: ENOTEMPTY, rmdir '/private/var/folders/63/_l3mpt_55ws5mzctswny42pw0000gn/T/apm-install-dir-11422-2660-175c8kh/node_modules/markdown-preview/

[2014-03-02 15:44] joriecho opened #32 "Support for litcoffee"
Please add ".litcoffee" and "_.coffee.md" (and possibly "_.extesion.md") since those files are also basically markdown-compliant.

Thanks!

[2014-03-02 16:19] janvaniperen opened #33 ""Live" preview"
Especially when being used in a similar setup in [Mou](http://mouapp.com), it would be great to see a real-time / "live" preview. It enhances the learning curve for Markdown in a huge way.

[2014-03-02 16:50] #33 closed, assigned to nobody

[2014-03-02 22:36] swanson opened #34 "Switch focus when displaying preview"
I've found myself accidentally closing the .md file instead of the preview window because the focus stays on the tab with the .md file.

Maybe a setting for this? Or making it so hitting `shift+ctrl+m` again will close the preview?

[2014-03-03 00:53] yasuoza opened #35 "Follow editor scroll"
Now, when editor scrolls, preview pane does not scroll.
If preview pane follows editor scroll, it will be easy to preview.

[2014-03-03 01:07] #35 closed, assigned to nobody

[2014-03-03 15:23] iamdustan opened #37 "Certain selectors are invisible!"
Will just add to this list as I come across them.
- [ ] `.entity.name.type` has a color of `#ffffb6`

**Markdown**

[code]

**Screenshot**
![screenshot 2014-03-03 10 20 51](https://f.cloud.github.com/assets/227879/2310687/78802518-a2e7-11e3-971c-d6c5f86ca93a.png)

**Selector in question**

[code]

[2014-03-03 23:42] #37 closed, assigned to nobody

[2014-03-04 23:54] #31 closed, assigned to nobody

[2014-03-05 18:35] #15 closed, assigned to kevinsawicki

[2014-03-05 18:35] #19 closed, assigned to nobody

[2014-03-06 18:59] nathansobo opened #43 "If document can't be previewed with markdown, display an error message"
Some have tried to preview markdown for files with a `.txt` extension and it didn't work. We should show an error message.

[2014-03-06 23:00] kevinsawicki opened #44 "Code wraps in preview"
Not sure if it always did this but I didn't think it used to.

![screen shot 2014-03-06 at 3 00 01 pm](https://f.cloud.github.com/assets/671378/2351959/1a16aa80-a583-11e3-8c98-101bc7cab9ec.png)

[2014-03-07 00:44] #32 closed, assigned to nobody

[2014-03-11 06:41] afeld opened #45 "Allow preview to be zoomed"
Haven't investigated if this is due to the `font-size` being specified in `px` in [the stylesheet](https://github.com/atom/markdown-preview/blob/master/stylesheets/markdown-preview.less), but would be great to be able to use `⌘+` and `⌘-` for making the preview fonts, images, etc. larger.

[2014-03-11 18:40] #34 closed, assigned to nobody

[2014-03-11 18:40] #23 closed, assigned to nobody

[2014-03-13 20:48] #44 closed, assigned to nobody

[2014-03-18 18:13] jamesgecko opened #47 "Newlines in Github Flavored Markdown"
Markdown preview in Atom does not match markdown preview on Github. Specifically, newlines are handled like normal markdown. Could a checkbox be added to preferences to toggle between classic and github markdown styles?

[2014-03-23 11:02] jedthehumanoid opened #48 "Markdown preview behaves weird when changing files"
How to reproduce:
Open markdown-preview on one file, change file edited without closing preview.

Preview shows old file, if i now toggle it it toggles on/off for the new file, but the old file preview is always there/not possible to remove
I have to open the old file again and disable preview to get rid of old preview.

Expected behaviour:
Perhaps either update preview for new file, or close prev

[2014-03-25 18:34] ghost opened #50 "Markdown Preview does not update the change of filename"
The main editor is able to detect and update the change of filename, however the Markdown preview is not. Here are steps to reproduce the issue
1. Editing the markdown file with preview is being opened
2. Rename the file
3. The main editor is able to detect the change and update the new name
4. The preview does not change the name

[2014-03-25 19:56] #50 closed, assigned to kevinsawicki

[2014-03-25 20:25] #45 closed, assigned to kevinsawicki

[2014-03-26 18:10] #47 closed, assigned to nobody

[2014-03-27 19:14] donnoc opened #51 "Markdown window is not sizeble"
The markdown preview Window is not sizable

[2014-03-28 00:12] #51 closed, assigned to nobody

[2014-03-31 09:38] Inspiravetion opened #52 "Empty Lines deleted in fenced code"
![screen shot 2014-03-31 at 5 37 52 am](https://cloud.githubusercontent.com/assets/2051259/2565673/323feee4-b8b8-11e3-8ecc-161cf4be9cbd.png)

Any code with empty lines loses them when the markup is generated. Makes code examples hard to read. I think the issue is that atom.grammar.tokenizeLines() skips empty lines. Would it be better to do individual lines?

[2014-03-31 13:15] GerritKopp opened #53 "Indentation of ordered lists doesn't work correctly"
Indentation of ordered lists doesn't work between indentation level 3 and 4, see screenshot and code.

![markdown-preview ordered lists](https://cloud.githubusercontent.com/assets/7092317/2567395/01ceb50c-b8d5-11e3-97ea-1eacbce9defc.png)

[code]

[2014-04-03 00:01] #52 closed, assigned to nobody

[2014-04-03 13:19] prydie opened #56 "HTML not rendered"
As far as I can work out the preview does not render HTML

Examples of non-rendered HTML include:

[code]

I haven't done any testing to check if any other HTML is rendered.

[2014-04-04 18:12] jamesbryant opened #57 "% in the filename fails and won't open"
![screenshot 2014-04-04 11 09 59](https://cloud.githubusercontent.com/assets/3038036/2618652/5f4e6d6a-bc24-11e3-9851-626d7fa4a5a4.png)

Can't open a file with a `%` in the filename.

[2014-04-04 22:04] jlblank opened #58 "Need ability to actually SAVE the generated HTML."
markdown-preview:show is great, but there seems to be no way to actually save the HTML it generates... just to view it in the preview pane (which is highly useful, but only half the story).

A markdown-preview:SaveAsHTML or something would be nice.

I tried clicking in the preview tab to put the focus on it, then going File > Save As. It doesn't work; literally nothing happens. I didn't get a save

[2014-04-05 17:05] prydie opened #60 "Wordcount"
Many markdown editors display a word count gleaned from the render. This functionality would be useful and could be appropriately placed in the status bar in Atom.

[2014-04-05 21:22] rocco opened #61 "HTML comments are displayed in preview"
... also triple-dashed ones.

I added [a comment to an existing issue for marked](https://github.com/chjj/marked/issues/354#issuecomment-39651115), the underlying md parser - marked seems active but has huge pull request and issue backlog.

[2014-04-05 21:27] wfalkwallace opened #62 "Panel should be resizeable"
currently in `markdown preview: show`, the preview panel isn't resizeable.

[2014-04-06 17:22] prydie opened #63 "Multiline formatting not syntax highlighted"
The syntax highlighting fails when the wrapping operators are on separate lines. Tested for both bold and italics.

[code]

[2014-04-07 16:42] #63 closed, assigned to nobody

[2014-04-07 22:13] #62 closed, assigned to nobody

[2014-04-08 16:25] davidmarble opened #64 "hr should be rendered with at least 1px top border"
Entering three or more dashes creates a horizontal rule `<hr>`.

Currently the stylesheet renders this with `border: 0 none`, making it invisible. I think this should be:

[code]

(#eee is extremely light. #ccc or #ddd are probably best)

[2014-04-08 17:13] #64 closed, assigned to nobody

[2014-04-08 19:04] #43 closed, assigned to nobody

[2014-04-09 16:24] #57 closed, assigned to nobody

[2014-04-16 19:49] chemoish opened #66 "Inline code breaks on `\`"
`\` => `</code>`

[2014-04-16 20:42] #66 closed, assigned to kevinsawicki

[2014-04-17 16:48] mkleehammer opened #67 "Inline code does not line up well in list items."
Using something like:
- `event1` - description
- `event2` - description

looks strange because the baselines look off.

Basically I would expect it to look like the list in this bug report but in the preview the code text is very, very high.

The code baseline lines up with regular text so it is some interaction with ul, li, code, etc.

This is a really great package, by the way.  Thanks.

[2014-04-17 18:17] #67 closed, assigned to nobody

[2014-04-23 20:20] #58 closed, assigned to kevinsawicki

[2014-04-25 03:22] mattprecious opened #69 "Emoji are rendered in code blocks"
Emoji are currently being rendered within code blocks.

Example:

[code]

or:

[code]

In these examples, `:smile:` will be replaced with the emoji in the preview window when it shouldn't be.

[2014-04-26 15:28] BlackWolf opened #70 "Export CSS with HTML"
Syntax themes can style the markdown preview using the `.markdown-preview` selector. I think when exporting a markdown preview to HTML, the necessary CSS to make the HTML file look the same as in atom should be embedded into the HTML.

This is especially true since one of the great benefits of markdown is that it can be so easily parsed and exported to different styles and formats - atom should ma

[2014-04-26 18:20] christianbradley opened #71 "Inline HTML is not rendered correctly"
When I type the following into an editor:

[code]

It shows up as the follows in the preview:

---

Here is some _markdown_
&lt;!-- This should be hidden, as it is an html comment --&gt;
&lt;br&gt;This should pushed down

---

Here is how I would expect it to render:

---

Here is some _markdown_

<br>This should be pushed down

---

[2014-04-26 19:10] #71 closed, assigned to nobody

[2014-04-30 05:53] ghost opened #72 "Copy & pasting from preview window"
Copying selection of text from preview window pastes all the content in html format to clipboard. Would it be possible to add a preference to select the 'output' format when copying text from preview window and not to include all the content?

[2014-04-30 16:02] #72 closed, assigned to kevinsawicki

[2014-05-01 22:38] #69 closed, assigned to kevinsawicki

[2014-05-02 15:55] #56 closed, assigned to kevinsawicki

[2014-05-02 15:55] #61 closed, assigned to kevinsawicki

[2014-05-02 19:42] joshuamil opened #74 "Markdown Preview Doesn't Support HTML Tables"
When creating a table using HTML syntax, the Markdown Preview renders the HTML as text.

[2014-05-02 19:43] #74 closed, assigned to kevinsawicki

[2014-05-03 20:04] wolfgangschoeffel opened #75 "PHP syntax highlighting is not working."
A php code block like this will not be syntax highlighted.

[code]

It should be highlighted like this:

[code]

Cheers!

[2014-05-04 08:22] scmx opened #76 "Print window for printing markdown"
Use case: While editing a markdown file and using this to preview it, I want to open up the (Cmd+P) print window and print the rendered markdown.

But I can't anything about a print feature existing in Atom.
And I tried running `window.print()` in the console, but that doesn't seem to work in Atom.

[2014-05-09 04:35] kelunik opened #77 "Style issue for fenced code blocks"
Adding and removing a space here changes the style of the following fenced code.

![8nxm3](https://cloud.githubusercontent.com/assets/2743004/2921361/712424c4-d6f2-11e3-88cc-c693a4caf6d6.gif)

Using this markdown (I had to escape the fenced codes somehow):

[code]

[2014-05-09 14:43] simonech opened #78 "Open the preview in a different window"
It would be great if one could open the preview in a separate window so that I can keep it open on a different display

[2014-05-09 17:53] simonech opened #79 "Fenced code in csharp is not formatted"
The following code block that here on github is properly highlighted and also is properly formatted in a .cs file
![screen shot 2014-05-09 at 19 51 42](https://cloud.githubusercontent.com/assets/61557/2931376/c7fb2d82-d7a2-11e3-892e-cd14ce64343e.png)

 it is not formatted in the markdown preview screen.
![screen shot 2014-05-09 at 19 52 38](https://cloud.githubusercontent.com/assets/61557/2931382/

[2014-05-11 20:49] #75 closed, assigned to nobody

[2014-05-11 20:49] #79 closed, assigned to nobody

[2014-05-12 21:50] #77 closed, assigned to nobody

[2014-05-13 18:08] kennethormandy opened #82 "HTML tables have large top margin"
![screen shot 2014-05-13 at 11 04 48](https://cloud.githubusercontent.com/assets/1581276/2961670/179f51d2-dac9-11e3-8d49-45a1c6c413c9.png)

Doesn’t seem to occur with Markdown style tables, only HTML tables.

[code]

**Edit** I think this might actually be related to the size of the particular table itself, it seems like the top margin is more dramatic for larger tables.

[2014-05-14 15:23] puterleat opened #83 "Use html comments instead of /*"
I'm  not sure if this is the right place to report this, but when I type CMD-Slash to comment a line of markdown I don't get  and instead  get /\* LINE */

Is this expected?

[2014-05-16 16:30] #83 closed, assigned to nobody

[2014-05-19 02:41] lee-dohm opened #84 "Issue with backticks in list with emoji"
Noticed this when I was hacking on the Atom `CONTRIBUTING.md`:

![screen shot 2014-05-18 at 7 30 30 pm](https://cloud.githubusercontent.com/assets/1038121/3009535/239a0692-defe-11e3-8203-2cdd0c14b7c5.png)
## Minimum Repro

[code]

Rendered as:

![screen shot 2014-05-18 at 7 38 08 pm](https://cloud.githubusercontent.com/assets/1038121/3009547/a4a723f0-defe-11e3-8aa4-654af01e34dd.png)

Looks like it

[2014-05-20 19:51] #84 closed, assigned to nobody

[2014-05-21 20:35] dwlf opened #85 "Should support opening relative links to markdown"
On January 30, 2013 relative links in markup files was added to github, https://github.com/blog/1395-relative-links-in-markup-files

Clicking on `[a relative link](other_file.md)` does not work.

**Env**
markdown-preview 0.71.0 in Atom 0.96.0 on Mac OS X 10.9.2.

**Actual Result**
No action.

**Expected Result**
A new preview tab with the linked md file.

**Additional Details**
Github Pages now su

[2014-05-23 11:13] thbar opened #86 "Specifying rendered font via settings?"
I find that fonts like "Cochin" work well when writing blog posts etc.

I digged in a bit and found that I could replace Helvetica here:

https://github.com/atom/markdown-preview/blob/master/stylesheets/markdown-preview.less#L3

Maybe being able to inject a setting here would be nice?

What do you think?

[2014-05-23 11:29] thbar opened #87 "Blinking cursor /inside/ the markdown preview ?"
Just a thought, maybe a bit crazy: what if we could find a way to show a blinking cursor in the markdown preview, at the same place where the cursor is in the markdown source?

I understand that it would probably require changing the way the content is updated currently to be nice (I believe it's fully copying the html, maybe we'd need a delta or something), and that it would involve some kind of

[2014-05-23 14:37] #86 closed, assigned to nobody

[2014-06-06 05:52] ptbsare opened #88 "C and C++ syntax highlighting is not working"
![2014-06-06 1 25 06](https://cloud.githubusercontent.com/assets/3147576/3197025/aa9b86ea-ed3e-11e3-8cc7-4244db393a7e.png)

[2014-06-06 18:04] #88 closed, assigned to kevinsawicki

[2014-06-07 00:10] diguage opened #89 "Should support exporting to HTML file."
Should support exporting to HTML file. _(I'm not good at English.)_

[2014-06-07 14:47] #89 closed, assigned to nobody

[2014-06-09 00:58] DanFried opened #90 "Markdown Preview No Longer Shows For HTML"
### Summary
- I was working with a HTML document and using the Markdown Preview feature recently. This worked as expected, it rendered the preview just the same as it would for direct Markdown. After a recent update and restart I can no longer see my HTML document in the Markdown Preview.
### Steps to reproduce
1. open a (well formed) HTML document
2. use Markdown Preview package to preview
3. obs

[2014-06-12 00:21] aureliojargas opened #91 "Option to update the HTML preview on file save"
The “preview as you type” feature is great in short files, but as they get bigger, Atom becomes slow.

I'm editing a ~1,300 lines Markdown file and everything is fine when the preview is off. But when turned on, Atom gets really slow. It's painful to type and wait for the cursor to catch up.

I would really appreciate an option to update the HTML preview on file save instead of as you type.

The v

[2014-06-12 21:52] #91 closed, assigned to kevinsawicki

[2014-06-13 16:13] maxheld83 opened #92 "preview pushes text into gutter"
After some writing, atom pushes the first (couple of) letter(s) of my source into the gutter. This appears to happen while running `markdown-preview`. `Toggle` on / off solves the issue (see gif.).

![md-bug](https://cloud.githubusercontent.com/assets/5372770/3272150/2d7df9e0-f315-11e3-995f-672299ecf74c.gif)

My config:
- Atom 0.103.0
- Markdown Preview 0.74.0
- gif see above
- Mac OS X 10.9.3.
-

[2014-06-13 19:47] #90 closed, assigned to kevinsawicki

[2014-06-15 10:44] maxheld83 opened #94 "autocomplete image insertion, with preview"
including images in markdown is kind of a chore.
I'd love it if
- [ ] atom could autocomplete filenames (URLs, actually) for images in the same repository (or project folder).
- [ ] a little (inline) preview of the image, in case the filename is not instructive (as is unfortunately often is).

I'm not sure this package would even be the right place for this feature, but I thought it couldn't hurt

[2014-06-15 23:27] aureliojargas opened #95 "Comments are not marked with class="comment""
Version: Atom 0.103.0, OS X 10.8.5

In this sample Markdown document:

[code]

The comment block is not highlighted as comments. It gets the color of a plain paragraph.

At first I thought it was a theme issue (I'm using Fizzy), but the `.comment` class is correctly styled in the theme files.

When I opened the developer panel (View → Developer → Toggle Developer Tools) I saw that the comment line

[2014-06-16 14:46] #95 closed, assigned to nobody

[2014-06-16 16:03] alexrussell opened #96 "Unicode = b0rk on save to HTML"
If my markdown includes some unicode characters (I have only tested with `→`, however), the preview displays correctly but the save to HTML breaks big time.

Sample markdown:

[code]

Code view

![image](https://cloud.githubusercontent.com/assets/412784/3289760/f7c0c3b6-f56f-11e3-9346-3dfb791e8d89.png)

Preview

![image](https://cloud.githubusercontent.com/assets/412784/3289763/ffe5a71e-f56f-11e3-

[2014-06-17 21:28] #96 closed, assigned to kevinsawicki

[2014-06-27 11:17] jiaoew1991 opened #97 "export HTML file when language is Chinese"
when my markdown file contains Chinese characters and export it to HTML file, then I open it in chrome, the Chinese words are messy code. I have read the html's source file find that does not contain `<head>` and`<body>` etc. I think the HTML file add the following code will be OK:

[code]

-------a Chinese guy

[2014-06-28 08:32] beltex opened #98 "OS X: "Speech --> Start Speaking" on preview option"
In most places across OS X, right clicking on text allows for the use of the system feature of text-to-speech. I always find it useful when I write a doc to listen to it using this, you pick up on all sorts of grammatical errors that are easily missed just reading it over and over. Adding this option when right clicking on highlighted text in a markdown preview I think would be handy.

[2014-06-30 23:14] brntbeer opened #99 "Split preview to horizontal (by default?)"
Currently when viewing rendered markdown, it splits into a pane to my right. If I don't have 2 30" cinema displays, I usually can't see all of the rendered text.

Could we either change the default or pre-set a keybinding to make it split down?

[2014-07-01 01:41] yaeda opened #100 "Some emojis are rendered incorrectly"
![screen shot 2014-07-01 at 10 10 17](https://cloud.githubusercontent.com/assets/819673/3438120/59534da0-00c0-11e4-8b96-9c933bbdb12f.png)
- `:satisfied:` should be rendered as :satisfied:
- `:relieved:` should be rendered as :relieved:
- `:disappointed_relieved:` should be rendered as :disappointed_relieved:

This issue may be caused by emoji-images library.
It looks old but roaster use it.

My en

[2014-07-02 17:27] davetoxa opened #101 "Closing like a tab"
I've got a bad experience with closing this panel
Could you give opportunity toogle `ctrl-shift-m` open->close or something link cmd+w

[2014-07-04 15:43] SimonVanacco opened #102 "HTML preview & the html5 doctype"
When you've wrote an html5 file and you preview it with the markdown preview extension, there is the "<!DOCTYPE html>".

[2014-07-07 09:16] mabstorm opened #103 "Opening directly in markdown-preview from tree-view?"
Is there a way we can open a file using markdown-preview directly by selecting an option from the right-click drop-down menu in the tree-view? Does tree-view need to expose a new API for adding right-click functionality via plug-in?

[2014-07-07 15:34] #103 closed, assigned to kevinsawicki

[2014-07-07 16:10] #102 closed, assigned to kevinsawicki

[2014-07-07 16:29] #101 closed, assigned to kevinsawicki

[2014-07-11 01:18] gjtorikian opened #104 "Release roaster@1.1 ?"
`markdown-preview` has a roaster dependency of `^1.0.8`. `roaster@1.1.0` support rendering YAML frontmatter as tables, in much the same way as GitHub.com.

Not sure what the protocol here is if a dependency just needs to be upgraded. Just opening this to get it on the queue!

/cc @kevinsawicki

[2014-07-11 08:08] driskell opened #105 "Hyphens are not treated as bullets"
I used [doctoc](https://github.com/thlorenz/doctoc) to create some table of contents and it uses hyphens in the markdown.

Atom IO however does not treat them as bullets and displays them as a long string of text.

[2014-07-11 09:04] mabstorm opened #106 "Sequence of actions causes freezing"
Specs:
Atom: 0.113.0
Markdown-preview: 0.90.0
Mac OS X 10.8.5

How to reproduce:
1.) Open new Atom window (no split) containing a folder with multiple Markdown files.
2.) Right-click a (non-empty) .md file and click "Markdown Preview"
3.) Do this for a second (non-empty) .md file
4.) View -> Panes -> Split Right
5.) Close the markdown preview on the left that was copied into the right from the spl

[2014-07-11 18:03] #26 closed, assigned to kevinsawicki

[2014-07-11 18:03] #104 closed, assigned to kevinsawicki

[2014-07-11 18:56] #106 closed, assigned to kevinsawicki

[2014-07-15 16:41] backspaces opened #107 "Clicking on link in Markdown Preview doesn’t open"
I'm running the latest Atom and Markdown Preview package.

When I click on links in the preview panel, nothing happens. Shouldn't it open the link in a browser or in Atom? Safari sez my default browser is Chrome, which it should be.

This could be a dumb mistake on my part, but if not, lets do add it.  For now I'm solving markdown preview with a chrome extension, which does work.

-- Owen

[2014-07-15 19:21] #107 closed, assigned to nobody

[2014-07-17 10:53] philipgiuliani opened #108 "Make the checkboxes readonly / disabled"
In the markdown preview task lists its currently possible to click on the checkboxes, and so they will get out-of-state with the .md file.

Simple solution: Make them readonly by just adding the "disabled" attribute.
Cooler solution: Change the .md file when a checkbox change is triggered in the Preview and check/uncheck them.

What do you think?

[2014-07-18 17:21] focusaurus opened #110 "Any way to eliminate flicker on re-render"
The rendered preview pane is constantly flickering as I type in the markdown document. It's pretty distracting. Any way that could be eliminated? (react.js???, only re-rendering the piece of the DOM actively being changed?)

atom: 0.115.0
markdown preview: 0.93.0
OS: OS X 10.9.4

[2014-07-18 22:39] dsandstrom opened #111 "Unable to update to 1.0.0 (on Linux)"
Arch Linux 3.15.5-1
Atom 0.113.0 (Aur build)

Sorry for long output, but didn't know where to cut off.

[code]

[2014-07-19 19:19] piranna opened #112 "Multi-line paragraphs not generated correctly"
According to Markdown format, two consecutive lines will be joined as a paragraph joined by a space instead of a new line character, but it's not doing correctly. An example:

[code]

should generate

[code]

 but instead, it show both lines in a paragraph, but in different lines, separated by a `<br/>` tag.

[2014-07-19 20:21] #112 closed, assigned to nobody

[2014-07-21 22:10] #111 closed, assigned to nobody

[2014-07-31 00:36] dmnd opened #114 "Change toggle keybind away from ctrl-shift-m"
I'm suggesting that markdown-preview use another keybind so that bracket-matcher can use `ctrl-shift-m` by default.

`ctrl-m` is used by bracket-matcher to navigate the cursor to a bracket. It makes sense for the `shift` key to convert this cursor _movement_ action to a _selection_ action, however `ctrl-shift-m` is already used by markdown-preview. Note that `ctrl-m` and `ctrl-shift-m` are the key

[2014-07-31 18:00] changemewtf opened #115 "If a document contains only a table, copying from the preview pane copies HTML instead of rich text."
**Steps to reproduce**:
1. Create a new document in Atom
2. Paste this Markdown inside:

[code]
3. `Ctrl + Shift + m` to invoke preview pane
4. Click inside the preview pane, then Select All and Copy
5. Open a rich text editor such as Gmail's e-mail composer
6. Paste

**What I expected**: The styled table is pasted into the e-mail composer, complete with zebra-striped cell backgrounds.

**What hap

[2014-07-31 20:24] #115 closed, assigned to kevinsawicki

[2014-07-31 22:48] szhorvat opened #116 "Add math support to MarkDown preview"
This is a request to add math (LaTeX) support to the MarkDown preview.

---

Suggestion on how it should work:

There should be a setting to enable math support.  When enabled, `$...$` is for inline math, `$$...$$` is for display math, and `\$` is for an actual dollar sign.  This is identical to how it works on StackExchange sites that have math support.

Inline math support is essential to be abl

[2014-08-02 18:15] ofalltrades opened #117 "Error Installing markdown-preview"
When trying to install markdown-preview via apm, I receive the following:

[code]

I am using apm v2.1.2 and npm v1.4.7.

[2014-08-04 17:42] #117 closed, assigned to nobody

[2014-08-08 14:19] cebence opened #118 "Zooming commands work only via Command Palette (cmd-p)"
The `markdown-preview:zoom-in`, `markdown-preview:zoom-out`, and `markdown-preview:reset-zoom` commands, when invoked from the _Command Palette_, control the zoom level of the _Markdown Preview_ pane, but when invoked directly as keyboard shortcuts change the zoom level of the Markdown editor pane, i.e. the file being edited and not its preview.

No errors are being thrown, the issue is reproducib

[2014-08-08 15:47] #118 closed, assigned to nobody

[2014-08-13 18:31] dead-claudia opened #120 "Unable to install markdown-preview"
I have tried about 3 times today to install this (via `apm install markdown-preview`), and I keep getting the same error. Here's the output (edited out my local username):

[code]

[2014-08-13 18:33] #120 closed, assigned to nobody

[2014-08-13 19:50] #110 closed, assigned to nobody

[2014-08-16 07:17] icopp opened #121 "Option to parse -- in text as en dash and --- as em dash"
This is a feature that's used in some Markdown variations and not others (notably not in GFM), so it probably shouldn't be a default. Still, it would probably be handy enhancement for some people to have an option for this conversion to happen: `--` (when not in a code block or part of other parsing) would be rended as `&ndash;` and `---` would be rendered as `&mdash;`.

[2014-08-19 13:07] alexrussell opened #122 "PDF export"
PDF export would be pretty handy. Failing that, the ability to print the Markdown preview (or, in fact any editor) would allow me to save as a PDF. Added bonus is that it'd put less emphasis on exporting the styles in the HTML generated from #70 (at least for me).

[2014-08-20 13:33] beltex opened #123 "Table of contents "jump to" doesn't work in preview"
If you have a table of contents in your README like [this](https://github.com/matteocrippa/awesome-swift), you can jump to the various points in the doc by clicking on one of the _"links"_. However, this doesn't seem to work in a markdown preview.

[2014-08-20 15:02] MasseGuillaume opened #124 "live preview"
change markdown preview as you type

[2014-08-20 15:21] #124 closed, assigned to nobody

[2014-08-25 08:13] lkoelman opened #127 "Draggable divider between preview and editor pane"
Would be nice to have a draggable divider between the preview and editor pane. Don't know if this is an atom core issue or specific to this addon though.

Keep up the good work!

[2014-08-25 08:18] #127 closed, assigned to nobody

[2014-08-25 14:41] amazingant opened #128 "Fenced code verbosity"
As of recently, (specifically looks like the results of #113) the HTML output from saving a rendered preview contains excessive HTML entities and loads of span tags to help format fenced code. I briefly tried forking the repo and reverting those changes, but I'm relatively new to atom package development and I'm not sure how to deal with atom telling me it can't load fs-plus.

Is there any way tha

[2014-08-30 08:39] andreaspitzer opened #129 "How syntax highlighting in regular code blocks improves readability"
Regular code can render just as nicely as fenced code blocks if we have a way to set a default language.  This would make literal languages like Literate Coffeescript really super readable and even more beautiful.

Can someone please help and point me in the right direction as to where to find such an option in the code because I'd be happy to make the necessary changes and provide the PR.

Is the

[2014-08-31 07:48] gjtorikian opened #130 "Links within code are indistinguishable"
![link](https://cloud.githubusercontent.com/assets/64050/4101332/2113caf2-30e3-11e4-9f8b-92da8bde9a2c.gif)

[2014-09-03 18:30] #130 closed, assigned to kevinsawicki

[2014-09-04 01:55] turhn opened #132 "New tabs open at the right side"
When Markdown Preview is open and selected, new tabs are added to the preview's section.

**Situation** :
![screen shot 2014-09-04 at 04 41 28](https://cloud.githubusercontent.com/assets/4946775/4143929/b9efa3b0-33d4-11e4-8ccf-8e2880baf530.png)

**Expected** :
![screen shot 2014-09-04 at 04 42 01](https://cloud.githubusercontent.com/assets/4946775/4143932/c49ac754-33d4-11e4-97af-66e1d88f13f0.png)

[2014-09-04 16:01] lee-dohm opened #133 "Support CommonMark for display"
Now that there is a [CommonMark specification](http://commonmark.org/), the markdown-preview package should support displaying CommonMark in a standards-compliant manner.

[2014-09-06 20:13] frizop opened #134 "Is it possible to open the preview without a new Pane?"
Like the title suggests, is it possible (or codeable) to open the preview in a new tab but the same pane? I ask because I often am not writing Markdown but rather reviewing somebodys notes and don't need the secondary Pane to look at, but it's still nice to have the preview with correct formatting, etc.

[2014-09-13 02:59] zhiiwg opened #135 "Is it possible to change the font-size?"
In high-dpi displays the font size is too small.
And it seems no place to set it

[2014-09-13 16:20] nvoynov opened #136 "How about table of contents"
Hello, markdown-preview team!

I have used Atom about two weeks. I work with Ruby and Markdown for writing mimi specifications.

It would be helpful if you add the ability of auto table-of-contents (as is done in Yardoc or Redmine with macros {{> toc}}).

Thank you for this extension!

[2014-09-16 21:14] #129 closed, assigned to nobody

[2014-09-23 23:30] FelixSotera opened #137 "Parentheses within a link breaks the display of the link (and the path)"
If a link's path contains parentheses, markdown preview considers the first closing parentheses as the close of the link's path.

Create a markdown file with the text below, and use markdown-preview to view the page to see the issue:

[code]

[2014-09-27 18:46] austinbutler opened #138 "Open Preview in Same Tab"
Would it be possible to add a setting to have the preview opened in the same tab? So it would be like toggling between read and edit mode in a way. It would be good for small screens and/or when you have say Atom at 50% of the screen and a browser or something else on the other 50%.

[2014-09-29 17:26] #138 closed, assigned to nobody

[2014-10-01 01:36] joshuawarner32 opened #139 "Scroll to the edit location in the preview window"
Mac OS 10.9, Atom 0.120.0, markdown-preview 0.93.0
### Scenario
- I create / edit a markdown document using markdown-preview
- I have enough content to run off the screen in the preview window (i.e. I can scroll)
- I scroll to the bottom of both the editor and the preview
- I add new lines / paragraphs at the end of the document
### Expectation

The preview window should scroll so that the content

[2014-10-01 01:39] #139 closed, assigned to nobody

[2014-10-19 12:19] chibicode opened #141 "Auto-update stops working if you move the preview tab"
On v104, a preview window stops auto-updating once you move the tab. But this breaks my workflow since I'm using a vertical monitor and don't have room for a side-to-side split.

Why am I moving the tab? See https://github.com/atom/markdown-preview/issues/99 (although I can technically do it without moving the tab...)

![](http://cl.ly/image/34183L471H25/Screen%20Recording%202014-10-19%20at%2005.1

[2014-10-19 16:34] psnider opened #142 "Bullets with a checkbox and wrapping text show a bullet on the last wrapping line"
This markdown:

[code]

renders as:

![screen shot 2014-10-19 at 9 26 01 am](https://cloud.githubusercontent.com/assets/940931/4693810/a546b280-57ad-11e4-84a8-87e580c3f50b.png)

The bullet will stay on the last wrapping fragment as you change the width of your window.

[2014-10-21 23:41] #141 closed, assigned to kevinsawicki

[2014-10-25 06:14] octosquid opened #143 "Split preview is white after created manually"
I do the following:
1.  open a markdown file as plaintext
2.  open it as a markdown preview. It goes to split screen automatically.
3.  drag + drop the preview tab to the main list of tabs
4.  re-create split preview by ctrl+k arrow key.

After the last step, the preview is white. When you edit the original md file it gets rendered and updated however. I use the latest release of atom.

[2014-10-27 00:09] cyrildphotos opened #145 "CSS"
Hi, what do you think about link a css file in preferences ?

(new & french)

[2014-10-27 05:08] nhahtdh opened #146 "Relative link in Markdown images should not expand to local path when converted to HTML"
When we put an image in Markdown using a relative path:

[code]

In current version (mine is 0.136.0, but there are probably no change to this in newer versions), the relative path is expanded to local absolute path to the image when converted to HTML:

[code]

Following the behavior when specifying a plain link, I think the relative path should not be expanded. In other words (as QuadPiece has co

[2014-10-27 17:04] #145 closed, assigned to nobody

[2014-10-27 17:38] #143 closed, assigned to kevinsawicki

[2014-10-28 17:34] QuadPiece opened #147 "The ability to use a custom CSS file"
I write lots of markdown and I have a standard CSS file that I use for most documents, as such I would love having the ability to make the preview use a custom CSS file.

Like that I could know what the file would look like on my webserver right in Atom.

[2014-10-28 18:38] #147 closed, assigned to nobody

[2014-11-04 21:15] envygeeks opened #148 "Image privacy option."
When opening somebody else markdown down and previewing it, it would be nice to have a privacy option to disable remote images (maybe with a drop down like other tools that do that.)

[2014-11-11 18:03] #135 closed, assigned to nobody

[2014-11-14 13:20] cebence opened #149 "Indentation of nested code block fails after 2nd level"
Code block indentation fails when it's nested on level 2.

[code]

Second line of the 2nd code block should be indented but it's not:

![image](https://cloud.githubusercontent.com/assets/3540490/5046325/39e85460-6c09-11e4-8083-78a65efec0dc.png)

To make it indented one must indent the entire code block by 2 more spaces.

The same input renders correctly on Github:

![image](https://cloud.githubuse

[2014-11-14 19:15] ma11hew28 opened #150 "Fix nested-list paragraph spacing"
https://github.com/atom/atom/issues/4147

In the screenshot below, there should be a newline after the last bullet and no newline before the first bullet.

![screenshot 2014-11-11 06 45 53](https://cloud.githubusercontent.com/assets/17276/4994614/77b4f470-696f-11e4-9528-03d66e1acbd9.png)
If this is an issue with the markdown renderer Atom uses, please forward this bug along or comment so I can. Th

[2014-11-15 13:54] dullroar opened #151 "Embedded "#" in list incorrectly rendered as heading"
Consider the following Markdown list:

[code]

Both Github and pandoc render it as an ordered list. Here it is in Github Markdown output:
1.  First list item.
2.  Second list item, refers to first list item as #1
3.  Third list item, refers to second list item as
   #2 after a hard line break.

This is the output generated from pandoc:

[code]

However, Atom (v0.146.0, Windows) Markdown preview re

[2014-11-16 15:00] meyerweb opened #152 "Support user-selectable preview themes"
It would be really useful to allow users to create their own LESS-based themes for the preview pane and then be able to select them via the UI.  (It would be even better if the editor remembered which files used which preview themes.)

[2014-11-20 02:23] jeffmcneill opened #153 "Footnote Support"
Support footnotes as implemented in [Multimarkdown](https://github.com/fletcher/MultiMarkdown/wiki/MultiMarkdown-Syntax-Guide), [Marked2](http://brettterpstra.com/2013/10/30/lazy-markdown-footnotes/), [PHP Markdown Extra](https://michelf.ca/projects/php-markdown/extra/#footnotes), and/or [Pandoc](http://johnmacfarlane.net/pandoc/README.html#pandocs-markdown).

This uses the following syntax.`[^arb

[2014-11-23 12:07] chibicode opened #154 "Search Support on a Preview Window"
You can't search for a text (cmd-F) on a markdown preview window (it'll say "No results found for X.") This would be nice to have, especially when #24 (synchronize scrolling between file.md and its preview) is still not available. :)

[2014-11-27 19:20] kriswill opened #155 "Code blocks no longer use Atom theme background color"
I recently updated Atom to 0.152.0, and now the markdown previews no longer style the code block backgrounds according to the Atom theme.

[2014-11-29 18:23] andrekibbe opened #156 "Ctrl-shift-m not working for files outside of Markdown Preview directory"
When I try to preview a .md file with `ctrl-shift-m` on most files, nothing happens, but when I select _Open in Atom_ from the package options in Settings, the .md docs that are in the sidebar under the markdown-preview folder do actually preview.

Is this by design? Is it not possible to access the preview globally, for any Markdown file in any directory?

[2014-11-30 18:40] #156 closed, assigned to nobody

[2014-12-01 16:18] mopsusm opened #157 "Markdown Rendering does not support Tables"
The Markdown preview in Atom does not render tables properly, the following table is rendered properly on github.com, but in atom it is just a bunch of text with pipes and dashes like so: "Parameter | Value | --- | --- | | Minimum Password Length: | 12 characters | | Maximum Password Age:    | 30 Days | | Complexity Enabled:      | Yes | | Lockout Attempts:        | 5 Bad Attempts in 24 Hours. |".

[2014-12-02 20:50] #155 closed, assigned to nobody

[2014-12-04 22:45] dennisnewel opened #158 "previewing images on secure site"
Hi,

I'm embedding images from one github repo in another by using full URLs to the image on GH. This works fine when on GH as we're logged in, but i can't seem to get the preview to show the images, probably because i don't have an authenticated session?

i'm doing this to embed and (control the size):
`[<img src="https://github.com/VRXMediaValet/PortalV3VisualDesign/blob/master/Login/MV-Login.jp

[2014-12-05 01:49] travs opened #159 "Absolute path to image on filesystem"
When specifying the path to an image, if the _absolute_ path is given the image is not shown in preview.

Example:
![screen shot 2014-12-04 at 10 16 39 pm](https://cloud.githubusercontent.com/assets/7369273/5309726/42ca21a8-7c03-11e4-8a40-cf9cca5cb77d.png)

[Searched the issues](https://github.com/atom/markdown-preview/issues?q=is%3Aissue+image) and couldn't find this problem, though it may be som

[2014-12-08 09:53] pandaiolo opened #160 "Preview pane should follow current focus pane, and shuts off if not md file"
Maybe this can be set as an option to avoid breaking current behaviour, but I find it very annoying that I have to manually toggle markdown preview when I switch back and forth to another file.

Especially when I am editing multiple md file panes, I'd like that the preview follows my current focus, and shuts off when I focus another non-md pane

Not sure if it it possible though :-)

[2014-12-08 19:22] #159 closed, assigned to kevinsawicki

[2014-12-10 04:54] fpinzn opened #162 "Support for themes"
Hi!

First of all, great work.

Would you be interested in a pull request for supporting themes for the preview window? I guess, one could select the theme in the settings of the package. I think all of us who prefer a dark color scheme would appreciate it.

[2014-12-10 22:55] #162 closed, assigned to nobody

[2014-12-11 02:20] benogle opened #163 "Uncaught TypeError: Cannot read property 'destroyItem' of undefined"
_From @tgwizard on December 10, 2014 21:20_

Uncaught TypeError: Cannot read property 'destroyItem' of undefined

**Atom Version**: 0.154.0
**System**: Mac OS X 10.10.1
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package
### Steps To Reproduce
1. I had a markdown file in preview, side-by-side with the .md file
2. I closed the .md file, and the preview took up the

[2014-12-17 19:34] docgecko opened #164 "Uncaught Error: Cannot find module './load-config'"
Uncaught Error: Cannot find module './load-config'

**Atom Version**: 0.161.0
**System**: Mac OS X 10.10.1
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.112.0
### Steps To Reproduce
1. ...
2. ...
### Stack Trace

[code]

/cc @atom/core

[2014-12-17 19:53] #164 closed, assigned to nobody

[2014-12-18 10:12] izuzak opened #165 "Markdown preview does not render RTL text correctly"
_From @mehdisadeghi on December 18, 2014 9:54_

When I enter RTL text into Atom the markdown preview window does not render it correctly.

Expected:
![image](https://cloud.githubusercontent.com/assets/3101557/5486183/2317178e-86a4-11e4-89dc-f27022453be0.png)

What I get:
![image](https://cloud.githubusercontent.com/assets/3101557/5486192/33801b34-86a4-11e4-90c5-f631cf62e1c7.png)

_Copied from orig

[2014-12-19 13:29] bouzlibop opened #166 "Task lists are rendered with dot"
When using task list on github there are no dots in front of the list items:
- [ ] item1
- [ ] item2

Here is what I get in the markdown previewer:

![screenshot from 2014-12-19 14 21 28](https://cloud.githubusercontent.com/assets/8625570/5504907/8f420cc0-878a-11e4-9e08-e6d8a1bb8768.png)

[2014-12-24 18:51] lee-dohm opened #167 "Link followed by 's not rendered the same as GitHub website"
I suspect this is a bug with the website, not Atom, but I wanted to record this here in case anyone else stumbled across this behavior. The last few lines of the atom/atomdoc README are:

[code]

And on the website, it displays like this:

![screen shot 2014-12-24 at 10 46 26 am](https://cloud.githubusercontent.com/assets/1038121/5550413/264bdf74-8b5a-11e4-8ef4-7fe599ee53c8.png)

But in the Markdo

[2014-12-26 23:46] retorquere opened #168 "Reference-style links not rendered (duplicate of #3?)"
I'm having a similar issue:

[code]

renders to

[code]

Brackets and Dilinger.io render the text as expected

[2014-12-27 01:18] #168 closed, assigned to nobody

[2014-12-27 16:51] redhatlinux10 opened #169 "markdown preview cover up some characters"
i am writing a blog which contains both Chinese characters and English characters.  nothing i can tell more than pictures.

before covered up, i have already made anotations on these covered up characters :
![](http://i1317.photobucket.com/albums/t638/redhatlinux10/misc/markdown-preview-cover-up-1_zps1a43933d.png)
after covered up:
![](http://i1317.photobucket.com/albums/t638/redhatlinux10/misc/ma

[2015-01-06 14:34] mikedillion opened #170 "Support different parsers"
I see a lot of people asking for Github flavored markdown ([redcarpet](https://github.com/vmg/redcarpet)?) in addition to other incongruities from other parsers. It would be super cool if I could just choose the parser I know I want to use.

[2015-01-07 16:48] timbru31 commented on #99
I'd like to use this feature, too and had the same issue like @chibicode
Would something like this work?
Open new Panel --> get this panel --> open the file in this panel

(see https://atom.io/docs/api/v0.166.0/Workspace#instance-getBottomPanels)

[2015-01-08 14:16] mopsusm commented on #157
postcasio thanks for the examples, After looking over your examples and testing a little bit I figured out the issue with my original table was that the header lines did not start with pipes, but the rest of the lines in the table did start with pipes. This works on Github but not in atom. I've written up my examples in a gist https://gist.github.com/mopsusm/42441be962784f10bf8e. Now that I see wh

[2015-01-08 21:28] kevinsawicki commented on #169
@lee-dohm I believe you are right, closing it out.

[2015-01-08 21:28] #169 closed

[2015-01-12 08:49] 1ternal opened #172 "`Enter` key cannot use after markdown doc previewed"
When I previewed my doc then close preview pane, I cannot use `Enter` key in the .md file.
I'v to reopen atom editor to use `enter` key with this md file.

There was no problem before upgrade to atom version 0.169

I'm using aluratek brand kvm switch, Mac Yosemite. I' not sure is this related.

[2015-01-12 18:27] benogle commented on #172
Do you have the emmet package installed?

[2015-01-13 06:47] 1ternal commented on #172
yes, I've install Emmet version 2.3.0;
and after disable emmet, everything works fine! :smile:

[2015-01-13 08:27] lee-dohm commented on #172
Closing as duplicate of emmetio/emmet-atom#186.

[2015-01-13 08:27] #172 closed

[2015-01-15 08:29] anderskaplan commented on #70
+1

[2015-01-15 15:13] morberg commented on #122
+1 for printing. For generating PDF @travs markdown-pdf works very well and even uses the styles from markdown-preview.

[2015-01-17 05:24] fredlebel commented on #24
+1

I also think the way StackEdit does it is excellent.  Essentially you pick a line at a specific absolute position in the window and line it up both on the text and rendered sides.  StackEdit seems to pick the line that close to the top of the window.

Everything below and above this line gets offset as would be expected.

[2015-01-21 21:13] akah opened #176 "Uncaught TypeError: undefined is not a function"
Uncaught TypeError: undefined is not a function

**Atom Version**: 0.175.0
**System**: Mac OS X 10.10.1
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package

## Steps to reproduce

1. Open Markdown Cheatsheet (markdown.md) from [Assemble](http://assemble.io/docs/Cheatsheet-Markdown.html) in Atom
1. Hit `ctrl-shift-M` for Markdown Preview
1. Error thrown

[code]

[2015-01-21 21:41] #176 closed

[2015-01-22 10:06] jbrunner commented on #24
+1

[2015-01-22 10:13] adrien59cadri opened #177 "Error when opening the preview"
on windows 8.1, the document, is located on a distant file server

works fine with markdown pad 2

Uncaught TypeError: undefined is not a function
c:\Users\adrien\AppData\Local\atom\app-0.174.0\resources\app\node_modules\markdown-preview\lib\renderer.js:145
Hide Stack Trace
TypeError: undefined is not a function
  at convertCodeBlocksToAtomEditors (c:\Users\adrien\AppData\Local\atom\app-0.174.0\re

[2015-01-22 10:40] burnalting commented on #122
all, I am struggling to get @travs markdown-pdf to work. I have the latest atom (0.174.0) on a patched Windows 8.1 workstation and I have markdown-pdf (1.3.0). I have the simplest of .md files

# This is a first level heading
## This is a second level heading

and markdown-preview displays it correctly, but I can get nothing from <ctrl><shift>C whilst the cursor is within the markdown document dis

[2015-01-22 11:46] travs commented on #122
@burnalting
Raise an issue on the repo and let's try and solve it!

[2015-01-22 12:39] burnalting commented on #122
Hi tavs,

I just installed atom on a clean fedora 21 and it works. I needed to ensure a markdown-preview had
rendered the .md file, but the <ctrl><shift>C resulted in a valid pdf.

I can operate in fedora 21 but I will raise the issue against a Windows 8.1 system

[2015-01-22 12:57] burnalting commented on #122
Hi Travs,

Please excuse my stupidity. On my windows system I had left .pdf files generated by another tool (on a cross mounted Linux system). When nothing appeared to have happened when I pressed <ctrl><shift>C, I assumed an error and didn't look at the file.

My hint was when I attempted to turn a markdown file into pdf on my Fedora 21 box ... it complained that I couldn't write to the directory

[2015-01-22 13:10] travs commented on #122
@burnalting
No sweat man. Yeah the docs haven't been updated in a while, so I'll jump on that and make it more clear.

Thanks for the compliment as well! :smile:

[2015-01-22 17:24] benogle commented on #177
When you saw this error, was there a 'create issue' button at the bottom of it? Any reason why you copy/pasted the error rather than clicking the button?

[2015-01-23 00:44] karai17 opened #178 "Live Update does not save position"
So I am writing a Markdown file and I have live update on because live update is great. The problem is, The preview is now longer than my screen and the live update force scrolls to the top of the page instead of either staying where I scroll it to, or scrolling with the text as it grows off screen.

It gets a bit annoying to have to continuously select the preview panel and scroll down.

[2015-01-23 11:30] alanfranz opened #179 "Uncaught TypeError: undefined is not a function (when using HTML <pre> tag)"
Write the following markdown:

[code]

Try rendering the preview.

**Atom Version**: 0.175.0
**System**: linux 3.13.0-44-generic
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.124.0

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-01-23 13:07] 50Wliu commented on #179
This will be fixed in the next Atom version, 0.176.0.

[2015-01-23 13:07] #179 closed

[2015-01-25 17:27] FunTimeCoding commented on #85
+1

[2015-01-26 05:45] Code-Vortex commented on #178
:+1: , I thought I am the only one who have this issue !

[2015-01-26 20:19] opennomad opened #180 "preview not working with atom version 0.175.0"
I found that in 0.175.0 the preview pane shows up, but no rendered content is visible. Downgrading to 0.174.0 corrects this. This is on Ubuntu 14.10, running the .dpkg from the atom releases page.

[2015-01-27 04:00] simurai commented on #180
@opennomad Not sure if it's the same, but there was a recent discussion on https://discuss.atom.io/t/markdown-previewer-is-blank/14438

[2015-01-27 15:10] opennomad commented on #180
@simurai thanks for the pointer. To test I tried the newest release of atom (0.176.0) and there the preview appears to be working as expected again.

[2015-01-27 15:10] #180 closed

[2015-01-27 18:34] adrien59cadri commented on #177
No, for other issues yes but not this one

Le jeu. 22 janv. 2015 à 18:24, Ben Ogle <notifications@github.com> a écrit :

[2015-01-27 18:35] kevinsawicki commented on #177
This seems like it might be a duplicate of https://github.com/atom/markdown-preview/issues/176

Can you try upgrading to Atom 0.176?

[2015-01-27 23:57] aleksandar-todorovic commented on #132
I have to agree that this _is_ annoying a lot, but I don't think it is designed to be any kind of a special window, it's just designed to split your window in half, and that's just a usual behaviour when you split your window.

[2015-01-28 00:01] thedaniel commented on #132
Yep, what @aleksandar-todorovic said is true. markdown-preview doesn't have any special control over which half of the split is focused or anything. Perhaps if someday the preview becomes special kind of pane we could address this behavior but I think I will close this one as 'working as intended' for now.

[2015-01-28 00:01] #132 closed

[2015-01-28 00:14] aleksandar-todorovic commented on #108
It is annoying as hell and I think that this needs to be resolved.

IMO _any_ of those solutions will do the job.

[2015-01-28 02:17] aleksandar-todorovic commented on #60
There are some packages (like [wordcount](https://atom.io/packages/wordcount) that allows you to do that. It actually checks through the code instead of in the markdown-preview, but it gets the job done almost perfectly while you're using Markdown.

I don't think that this should be implemented in the markdown-preview for now.

[2015-01-28 13:57] djstuff commented on #160
+1

[2015-01-29 09:01] adrien59cadri commented on #177
This is fixed in V0.176 thank you

[2015-01-29 09:01] #177 closed

[2015-01-29 16:59] russ4stall commented on #70
+1

[2015-01-29 20:44] aleksandar-todorovic opened #181 "If I delete a markdown file, its preview remains open"
**Steps to reproduce:**

1. Create a new markdown file and enter some text.
2. Open markdown-preview for that file.
3. Delete a file from the tree view.

**What it does:**

* It deletes the file and closes an edit tab for that file, but markdown-preview tab remains open.

**What it should do:**

* Markdown-preview for that file should close too.

[2015-01-30 15:18] jbrains commented on #153
:+1: In the meantime, I continue to use Marked to copy/paste the final HTML. Not a terrible workaround.

[2015-01-30 17:21] izuzak commented on #128
@amazingant Are you still seeing this? I just tried previewing a simple snippet and didn't notice any `&nbsp;`s in there.

![screen shot 2015-01-30 at 18 19 24](https://cloud.githubusercontent.com/assets/38924/5980012/b0454c3c-a8ac-11e4-98b7-4a95a7d863e7.png)

[2015-01-30 22:46] thedaniel commented on #116
@Galadirith did you ever take a look at @gjtorikian's library? It seems like a pretty promising way to get fast math rendering into this package.

[2015-01-31 10:58] jeffmcneill commented on #153
Stackedit Editor https://stackedit-beta.herokuapp.com/ also displays footnotes, but the point is to have footnote support in Atom Markdown preview. To be honest I've never understood why Marked, a non-free, non-open-source tool, is popular. Displaying markedup previews is the whole point of Markdown to begin with, as well as the point of this package, as far as I can tell.

[2015-01-31 14:02] jbrains commented on #181
Actually, this saved my ass recently. I accidentally deleted a file, but managed to rescue most of the content by copying it from the Markdown preview window. Not perfect, but it helped.

I propose instead a warning saying that the source file has disappeared, giving me a chance to rescue the formatted content if I want. This is consistent with other professional text editors that don't destroy bu

[2015-01-31 14:04] jbrains commented on #153
How about making the Markdown processor configurable? It solves the problem, opens up other features, and encourages untangling some of the code. What would the disadvantages be?

[2015-01-31 22:02] jbrains opened #183 ""Markdown Preview" from context menu does nothing for *.markdown files."
If I choose "Markdown Preview" from the context menu for a `*.markdown` file, the preview editor window does not open.

[2015-02-02 03:19] windgo opened #186 "can't review table"
it's show correct in the editor Mou.
| 状态标识 |状态消息 | 状态说明 |
	|:-------|:----|:-----|
	|0|成功|发布成功|
	|1|失败|发布失败|

[2015-02-02 14:48] amazingant commented on #128
Just updated Atom to 0.176.0 to check, and I must admit, it isn't giving me any extra `&nbsp;` now...or anything else from code fences? I'll poke around and see if something's wrong with my install just in case.
Screenshot with input, preview, and the current output. The output (results of "Save As HTML...") is where I was originally seeing the `&nbsp;`s.

![screen shot 2015-02-02 at 9 38 15 am](h

[2015-02-02 18:29] #183 closed

[2015-02-03 02:04] kevinsawicki commented on #186
What issue are you seeing in Atom with the way it is rendered? Could you include a screenshot?

This is how it looks for me which appears to be rendering correctly.

![screen shot 2015-02-02 at 6 03 36 pm](https://cloud.githubusercontent.com/assets/671378/6013173/d5d23c66-ab05-11e4-8772-be4885b748ff.png)

[2015-02-03 12:45] iobee opened #187 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.175.0
**System**: Microsoft Windows 8.1 Enterprise
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.124.0

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-02-03 23:48] Galadirith commented on #116
@thedaniel I did. @gjtorikian library looks amazing and it would be great to incorporate it, however the problem I have is I have not been able to get it running on my windows machine.

I'm sure it can be done, but even if it can, without any mature package manager on windows like `apt-get` I personally don't think that's something I would want to ask anyone else to do.

That said, I do honestly t

[2015-02-04 00:40] gjtorikian commented on #116
[MathJax 2.5.0](http://www.mathjax.org/mathjax-v2-5-now-available/) now has a Node.js component, so that may be a viable option in this case. However, I found client-side MathJax to be slow, and the effect of loading images jittery. Much of the codebase also operates on [a bunch of regular expressions](https://github.com/mathjax/MathJax/blob/55df93cdf8eb06d132613266f4ab8ca1d099f98a/unpacked/jax/in

[2015-02-04 00:57] 50Wliu commented on #116
What about [KaTeX](http://khan.github.io/KaTeX/)?

[2015-02-04 01:00] szhorvat commented on #116
The package originally used KaTeX.  However, KaTeX is currently very very limited.  Personally, I wouldn't be able to live with its limitations.  There are several posts in this thread about this, see above.

Actually this is my main concern about switching to other implementations.  MathJax is a mature package that was made with the needs of mathematicians in mind.  The alternatives tend to be mu

[2015-02-04 01:17] alex opened #189 "Package loading is relatively slow"
Timecop is showing that it's taking 53ms to load, making it "red".

[2015-02-04 17:06] kevinsawicki commented on #134
Fixed by #185

[2015-02-04 17:06] #134 closed

[2015-02-05 00:57] Galadirith commented on #116
@gjtorikian thanks so much for your response.

I definitely agree but that can be mitigated if you only update what has been modified in your source document. [markmon](https://github.com/yyjhao/markmon) is the best example, which gives blazingly fast re-rendering for modified files, and it uses mathjax.

@thedaniel As I said it is an awesome library but without a reproducible way to install on wi

[2015-02-05 20:56] aldendaniels commented on #24
:+1:

[2015-02-05 21:42] #189 closed

[2015-02-05 21:43] alex commented on #189
Awesome work. Thanks :sparkles: !

[2015-02-06 02:22] cayhanecamel commented on #24
+1

[2015-02-06 14:08] Chen-Huanyi commented on #24
+1

[2015-02-09 10:33] theo-bittencourt commented on #24
+1

[2015-02-09 23:29] digihorse opened #192 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.175.0
**System**: linux 3.13.0-36-generic
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.124.0

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-02-09 23:33] kevinsawicki commented on #192
I believe this is a duplicate of https://github.com/atom/markdown-preview/issues/176

If you upgrade to the latest release, 0.177, it should be resolved.

[2015-02-09 23:33] #192 closed

[2015-02-10 18:03] mig42 commented on #70
+1 :stuck_out_tongue:

[2015-02-11 14:07] davidneudorfer commented on #24
+1

[2015-02-11 15:44] itamayo commented on #178
Here a personal implementation : https://github.com/atom/markdown-preview/pull/193

[2015-02-11 16:31] lexicalunit opened #194 "Code blocks are impossible to read"
Probably need to tweak the background color of code blocks. As it is now pretty much all code blocks, no matter the language, are impossible to read.

[code]

![screen shot 2015-02-11 at 10 29 00 am](https://cloud.githubusercontent.com/assets/1903876/6151082/2632ab1c-b1d9-11e4-9239-5b1203214251.png)

[2015-02-11 17:08] lee-dohm commented on #194
Looks like it is an issue with your theme?

![screen shot 2015-02-11 at 9 07 46 am](https://cloud.githubusercontent.com/assets/1038121/6151857/87f56d32-b1cd-11e4-8620-dfeed43f9d23.png)

[2015-02-11 17:28] lexicalunit commented on #194
Confirmed, it's a theme issue. My bad. Fixed it by modifying my Atom's `style.less` file:

[code]

[2015-02-11 17:28] #194 closed

[2015-02-11 17:31] lee-dohm commented on #194
No problem. I'm glad I could help!

[2015-02-11 21:36] jlwollam opened #195 "Conversion to HTML loses code blocks"
My markdown looks great in the preview, but when I save to html all my code blocks are gone. It appears to make a code block, but none of my code is in the HTML anywhere. It used to create "pre" blocks to format, but now it places in "atom-text-editor" tags that are empty where the code should be. I know atom had some breaking changes recently and have to assume this is related. Is this in the sco

[2015-02-12 05:01] paulomcnally opened #196 "Uncaught Error: Module version mismatch. Expected 41, got 17."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.177.0
**System**: Mac OS X 10.10.2
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.125.0

### Stack Trace

Uncaught Error: Module version mismatch. Expected 41, got 17.

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-02-12 13:10] izuzak commented on #195
Thanks for the report, I can reproduce this.

What Atom shows:

![screen shot 2015-02-12 at 14 07 22](https://cloud.githubusercontent.com/assets/38924/6167942/af0516cc-b2c0-11e4-89df-089725700d76.png)

What I get after I use "Copy as HTML" (notice the content-less `<atom-text-editor> element`):

[code]

cc @nathansobo @kevinsawicki for :eyes:

[2015-02-12 13:14] izuzak commented on #196
@paulomcnally Based on the debugging information, it seems that you have `markdown-preview, v0.125.0` installed locally. Can you try removing that local copy and see if that helps?

[2015-02-12 14:40] jlmitch5 opened #197 "813 line markdown file: too slow to work with when preview is open"
First of all, let me say this editor is really cool...thank you so much and please know opening this issue is not meant to be harsh.  I was trying to edit an 813 line markdown file.  When I have the preview open, editing the file is **extremely** slow, to the point where you don't see text as you enter.  This renders simultaneous editing of large markdown files and previewing useless.  I do not th

[2015-02-12 15:47] nathansobo commented on #195
As a workaround, running the `markdown-preview:copy-html` command in the source editor should still work. Didn't realize there was another code path.

[2015-02-12 15:56] paulomcnally commented on #196
Solved. Thanks

[2015-02-12 16:17] izuzak commented on #197
Thanks for the kind words, @jlmitch5.

Can you share a bit more [debugging information](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues) and a link to the document in question?

I just tried editing a 850+ line Markdown file and it was definitely usable (the editor and preview behave the same if I reduce the file below 50 lines):

![markdown](https://cloud.githubusercont

[2015-02-12 16:19] #195 closed

[2015-02-12 16:24] nathansobo commented on #195
The fix will be released in `v0.180.0`. For the time being, use the workaround mentioned above.

[2015-02-12 16:25] #196 closed

[2015-02-12 16:41] izuzak commented on #195
:sparkle: @nathansobo

[2015-02-12 17:16] nathansobo commented on #195
Looks like CI doesn't like my fix. Working on this now.

[2015-02-12 17:57] jlwollam commented on #195
Thanks guys! That was fast :)

[2015-02-12 19:39] SashaOv commented on #178
+1

[2015-02-12 22:01] Code-Vortex commented on #178
In my case i have *.js not *.coffee, however the repo for markdown-preview
has *.coffee
Note: the editor and plugin is up-to-date
On Feb 11, 2015 5:44 PM, "itamayo" <notifications@github.com> wrote:

[2015-02-13 07:51] itamayo commented on #178
On apm installation I think is compiled to *.js, any case the change is moreless the same:
line:153 add:
editor.onDidChangeScrollTop(function(e) {
            markdownPreviewView.scrollTop(e);
        });

[2015-02-13 08:43] kdelmonte commented on #24
+1

[2015-02-13 08:45] kdelmonte commented on #160
+1

[2015-02-13 14:49] izuzak commented on #186
@windgo can you share the exact steps which reproduce the problem for you and the version of Atom you are using?

[2015-02-13 17:54] #167 closed

[2015-02-13 21:50] wendellmartin opened #198 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

Load Atom with the following file:

---BEGIN FILE---
#facade

##Jenkins Status
BaseFacade build: [![Build Status](http://jenkins.internal.salesforce.com/buildStatus/icon?job=eapps-facade-1-BUILD-all)](http://jenkins.internal.salesforce.com/view/PDXBrewHub/job/eapps-facade-1-BUILD-all/)
DataFacade build: [![Build Status](http://jenkins.internal.salesforce.com/buil

[2015-02-13 21:54] izuzak commented on #198
Thanks for the detailed report -- I believe this is a duplicate of https://github.com/atom/markdown-preview/issues/176. It should be resolved if you upgrade to the latest version of Atom.

[2015-02-13 21:54] #198 closed

[2015-02-13 22:32] spairo opened #199 "Uncaught TypeError: undefined is not a function"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.175.0
**System**: Mac OS X 10.10
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.124.0

### Stack Trace

Uncaught TypeError: undefined is not a function

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

/cc @atom/core

[2015-02-13 22:36] wendellmartin commented on #198
Thanks for such a quick reply!  :)

On Fri, Feb 13, 2015 at 1:54 PM, Ivan Žužak <notifications@github.com>
wrote:

[2015-02-13 22:58] 50Wliu commented on #199
Could you please try upgrading to Atom 0.179.0 and seeing if you can still reproduce this?

[2015-02-13 22:59] 50Wliu commented on #199
Actually-please see #176 for details and upgrade Atom to resolve this issue.

[2015-02-13 22:59] #199 closed

[2015-02-14 06:16] SashaOv commented on #24
+1 It's hard to use without this feature

[2015-02-14 08:03] jeffmcneill commented on #153
Note that this pandoc preview plugin does the trick https://github.com/jagregory/atom-pandoc-preview though there are issues with the PATH for invoking Pandoc

[2015-02-14 20:16] JustSomeDood opened #200 "Uncaught Error: Cannot find module 'atom-space-pen-views'"
[Enter steps to reproduce below:]

1. Install plugin manually via git clone into the package directory
2. Start Atom and hit Ctrl + Shift + M to initiate the plugin
** Ubuntu 14.04 64bit system

**Atom Version**: 0.179.0
**System**: linux 3.13.0-45-generic
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.137.0

### Stack Trace

Uncaught Error: Cannot find m

[2015-02-14 20:18] JustSomeDood commented on #200
Cloned the github repository and manually placed it in the .atom/packages directory.  On first run got this js error.  Checked for updates, checked other packages and even changed to the default theme just to make sure I cover my bases.

[2015-02-14 20:40] 50Wliu commented on #200
Please do not manually install packages.  Atom handles this for you.

[2015-02-14 20:40] #200 closed

[2015-02-14 21:05] JustSomeDood commented on #200
neither apm via command line nor the in built packages installer are working due to my internet.  I'll have to work around that then i guess

[2015-02-14 23:59] jlmitch5 commented on #197
Unfortunately, I cannot share the original file this issue had problems with, but I think I have isolated the issue.

I took the atom contributing.md doc and I copied and pasted the code block at the bottom a bajillion times with the code editor open.  Each time I pasted it in, I noticed that the paste took longer and longer.  Sure enough, when I started to try and edit the document when it was 12

[2015-02-15 01:12] 50Wliu commented on #197
I believe what you just described will be fixed in the next Atom version (0.180.0).  There was a performance regression involving pasting in the last few releases.

Can you reproduce it without pasting?

[2015-02-15 09:17] jlmitch5 commented on #197
50Wliu was still able to reproduce the sluggishness, even by closing atom, downloading the gist I posted, and opening it up alone.

The issue seems to be relates to code-style blocks being in the markdown.  When I took out the codeblocks and just copied and pasted that file until it was 2000 lines long, it was fine.  Here's a 2000 line [file](https://gist.github.com/jlmitch5/2190d4cd96cc8c8d1e83)

[2015-02-15 12:18] izuzak commented on #197
Thanks for the more helpful steps to reproduce this, @jlmitch5 -- really appreciate it. I see the problematic behavior now as well, but I can't promise an ETA for when this might be improved.

[2015-02-15 22:57] jlmitch5 commented on #197
Thanks for your help @izuzak!  This isn't a huge thing, but I'm glad we were able to figure out what was causing it.

[2015-02-16 07:29] taka4sato commented on #24
Hope this is supported!

[2015-02-16 17:44] izuzak opened #201 "GitHub Flavored Markdown"
_From @lukejanicke on February 16, 2015 17:28_

The markdown preview window doesn’t render some GitHub Flavoured Markdown properly.

Roses are red
Violets are blue

In Atom, these lines don’t break, which is correct Markdown behaviour but not correct GitHub Flavoured Markdown behaviour.

Furthermore, references are not being auto-linked.

* SHA: a5c3785ed8d6a35868bc169f07e40e889087fd2e
* User@SHA:

[2015-02-17 17:48] duclet opened #202 "Add line numbers for source code"
It would be nice to also output line numbers for source code along with the syntax highlighting.

[2015-02-18 07:08] xtity commented on #24
+1

[2015-02-18 18:13] drewzh opened #203 "Uncaught Error: ENOENT, no such file or directory '/usr/share/atom/resources/app/node_modules/roaster/node_modules/cheerio/index.js'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.178.0
**System**: linux 3.18.7-200.fc21.x86_64
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.134.0

### Stack Trace

Uncaught Error: ENOENT, no such file or directory '/usr/share/atom/resources/app/node_modules/roaster/node_modules/cheerio/index.js'

[code]

### Commands

[code]

### C

[2015-02-18 21:04] 50Wliu commented on #203
Refs atom/release-notes#29-should this be closed in favor of that issue?

[2015-02-18 21:06] drewzh commented on #203
I should of searched! Closing...

[2015-02-18 21:06] #203 closed

[2015-02-18 21:06] 50Wliu commented on #203
It was in a totally different repo so it shouldn't be your fault :wink:.

[2015-02-19 19:24] lukejanicke commented on #201
Thanks for the move. I now see how Atom packages have their own repos.

[2015-02-20 16:02] ArnaudRinquin commented on #70
Ditto this, :+1: and thanks @jrop.

[2015-02-21 20:36] dj80hd commented on #24
+1

[2015-02-22 19:08] emdoubleusmyf opened #204 "Uncaught Error: ENOENT, no such file or directory '/Applications/Atom.app/Contents/Resources/app/node_modules/roaster/node_modules/cheerio/index.js'"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.179.0
**System**: Mac OS X 10.9.5
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.134.0

### Stack Trace

Uncaught Error: ENOENT, no such file or directory '/Applications/Atom.app/Contents/Resources/app/node_modules/roaster/node_modules/cheerio/index.js'

[code]

### Commands

[code]

##

[2015-02-22 21:32] 50Wliu commented on #204
Duplicate of atom/release-notes#29.

[2015-02-22 21:32] #204 closed

[2015-02-24 19:54] izuzak opened #206 "Last table cell isn't displayed if it doesn't have any data"
_From @fmsedrez on February 24, 2015 19:48_
# Markdown Preview display error

Markdown Preview windows does not display the last cell on last line if it is empty.
View line **Show Available Snippets** in print screen.
- Ubuntu 14.10
- Atom 0.182.0
- [Markdown file](https://github.com/fmsedrez/atom-keyboard-shortcuts/blob/master/README.md)

| Atom: Code View and Markdown Preview | GitHub Site View

[2015-02-24 19:58] izuzak commented on #206
@fmsedrez This seems to be a bug in Marked, the markdown parsing library which this package uses:

https://github.com/chjj/marked/pull/357

[2015-02-24 20:04] izuzak commented on #201
This is not supported by Marked, the library used to parse Markdown in this packages:

https://github.com/chjj/marked/issues/44

So, we either wait for Marked to implement that, or implement it ourselves on top of that somehow. I'll label this as an enhancement for now.

[2015-02-25 16:26] zzzzBov opened #207 "No way to clear the markdown preview image cache"
After adding an image to markdown, I've updated the image file. The preview of this image continues to display, and I'm not seeing any way to force the preview to refresh. Closing image preview and reopening continues to display the outdated image.

My workaround is to just change the path to the image by adding a fragment identifier at the end (i.e. #1, #2). It would be nice if this wasn't necess

[2015-02-26 14:37] benjaminathlan commented on #24
+1

[2015-02-27 10:08] vegetableman commented on #153
There is a pending PR for this on marked https://github.com/chjj/marked/pull/351 which this project depends on.

[2015-02-27 12:49] pkrawc opened #208 "Will not open anything but .md files with emmet installed."
The keybinding is free for use.

running markdown-preview v 0.137.0
running emmet v 2.3.4

[2015-02-27 13:41] 50Wliu commented on #208
Please report this over to the Emmet package.

[2015-02-27 13:41] #208 closed

[2015-03-02 13:58] izuzak commented on #128
@amazingant Sorry for not replying to this! I think the issue you reported is a duplicate of https://github.com/atom/markdown-preview/issues/195 which was fixed in a more recent version of Atom. I'm going to close this, but let me know if you can reproduce this in the latest version of Atom. Thanks again for these reports!

[2015-03-02 14:20] izuzak commented on #149
This seems to be a problem with [marked](https://github.com/chjj/marked) (which this project uses for Markdown parsing and rendering to HTML):

    $ pbpaste
    1. first

[code]

      1. sasasa

[code]

    2. second

    $ pbpaste | marked
    <ol>
    <li><p>first</p>
    <pre><code>left
     indent
    </code></pre><ol>
    <li><p>sasasa</p>
    <pre><code>left
    indent
    </code></pre></l

[2015-03-02 14:49] amazingant commented on #128
@izuzak well, code fences were working when I originally submitted this, their conversion to HTML just didn't look right. Less of a duplicate of #195 and more of I happened to run into that problem while trying to reproduce for you. Now that I've read through the thread for #195 (I'm still seeing code fences omitted when running the `Save As HTML...` option with Atom 0.184.0 & markdown-preview 0.1

[2015-03-02 15:00] izuzak commented on #128
Thanks for clarifying -- I definitely see the strange layout now when I use copy-as-html.

[2015-03-02 15:46] izuzak commented on #151
Seems to be a problem in [marked](https://github.com/chjj/marked), a project this package uses to parse Markdown and render HTML:

    $ pbpaste
    1.  First list item.
    2.  Second list item, refers to first list item as #1
    3.  Third list item, refers to second list item as
        #2 after a hard line break.

    $ pbpaste | marked
    <ol>
    <li>First list item.</li>
    <li>Second lis

[2015-03-02 15:54] izuzak commented on #186
Closing this as we can't reproduce and the given example renders correctly for at least two users. Happy to reopen if you can share steps to reproduce, @windgo.

[2015-03-02 15:54] #186 closed

[2015-03-03 07:00] kostaz commented on #24
+1
This is a must-have feature.
I'm pretty suprised there is even a discussion about yes or not having this feature...

[2015-03-03 14:11] dj80hd commented on #24
Has anyone forked this and started working on it?  I was thinking about taking it on, but if someone else has started, I'll join what they are doing.

[2015-03-03 19:32] jeromeetienne commented on #24
@djS0hd i dont think anybody is working on it. this issue is like 1year old. So if you fix it, im sure people will like it :)

[2015-03-03 19:51] thedaniel commented on #24
@dj80hd pull request welcome, no one is working on this to my knowledge, it's not on the core team's near-term to-do list, and it would be great to have.

[2015-03-03 23:01] fredym commented on #24
+1

[2015-03-04 11:53] stevenroose commented on #178
This is a major issue when working with larger Markdown documents. Please make this work!

[2015-03-04 21:55] #70 closed

[2015-03-04 21:57] thedaniel commented on #70
#205 adds CSS to "save as HTML", and "copy as HTML" is left as the simple markup.

[2015-03-04 23:20] getaaron commented on #24
@dj80hd Check out @ethernal's comment - you can probably use a lot of stuff from StackEdit (they're open source too.)

[2015-03-05 03:39] LouisTakePILLz opened #209 ""Scroll Past End" affects code fences"
The `scrollPastEnd` option seems to interfere with the generated code fences (`atom-text-editor` elements); I highly doubt this is intended behavior for code fences.

Here's a nice GIF showing the issue at hand:

![atom markdown-preview scrollpastend bug](https://cloud.githubusercontent.com/assets/920910/6498843/0a6c2010-c2bf-11e4-9f8b-43b6526cce87.gif)

**Atom version**: 0.186.0
**Package version

[2015-03-06 03:19] mark-hahn commented on #24
*We finally have markdown scroll sync:*  https://atom.io/packages/markdown-scroll-sync

[2015-03-06 03:25] mark-hahn commented on #139
This should give you what you want.. https://atom.io/packages/markdown-scroll-sync.

[2015-03-06 03:27] mark-hahn commented on #35
*We now have markdown scroll syncing* https://atom.io/packages/markdown-scroll-sync.

[2015-03-06 04:13] fredym commented on #24
Thanks a lot @mark-hahn. It works like a charm!

[2015-03-06 08:33] ethernal commented on #24
A blessing!

[2015-03-06 12:11] dj80hd commented on #24
Three Cheers for Mark Hahn!  Thanks Mark.  Well done.

[2015-03-09 02:01] kdelmonte opened #211 "Preview pane scrolls all the way up"
Every time I make a change the preview pane scrolls all the way up. Is there anyway to stop this? On large markdown files, it becomes a real problem.

[2015-03-09 02:37] izuzak commented on #211
Yeah, I agree it's a pain -- that problem has already been reported in this issue https://github.com/atom/markdown-preview/issues/178, so I'm closing this in favor of that.

[2015-03-09 02:37] #211 closed

[2015-03-09 03:39] kdelmonte commented on #178
Having the same issue.

[2015-03-09 12:12] Fania commented on #178
Synced scrolling would be great!

[2015-03-09 20:21] LouisTakePILLz commented on #178
:+1: I'd really like to see this happen.

[2015-03-10 11:45] ArnaudRinquin opened #212 "Save 'as' fails to include editor style"
Hey guys,

Although the `Save as HTML` was my PR, I failed to properly implement it. For some reason, the tests work but not the actual feature: the `atom-text-editor` styles are not integrated.

From what I understand, it's because the `atom-text-editor` element shadow DOM processing is asynchronous and my code retrieve the styles synchronously.

I successfully fix the problem by adding a one sec

[2015-03-10 11:58] abe33 commented on #212
Have you tried @kevinsawicki suggestion of using an `atom-style` node instead of an `atom-text-editor`?

[2015-03-10 12:02] ArnaudRinquin commented on #212
That's what's done at the moment:

[code]

The problem is that the `<style>` children elements I am expecting aren't added synchronously. I don't know what event is triggered when they are.

[2015-03-10 12:07] abe33 commented on #212
Oh I see, sorry.

Looks like there's some events available on the `atom-styles` element: https://github.com/atom/atom/blob/master/src/styles-element.coffee#L7-L14

Not sure if it'll help as you won't know when all styles have been added (which suppose knowing how many styles have to be added).

[2015-03-10 12:18] ArnaudRinquin commented on #212
Thanks for pointing to `style` element events but yeah, has you said, no way to know when all the styles are added. This probably requires a new event to be added to `style` element.

[2015-03-10 14:03] Fania commented on #24
+1

[2015-03-10 14:45] ArnaudRinquin commented on #212
#213 should fix it.

[2015-03-11 17:15] ibnesayeed opened #214 "Scroll Past End affects code blocks"
Enabling "Scroll Past End" config in the mail editor settings affects code blocks in Markdown Preview as well. Say, there are 10 lines of code in a markdown file and the mail Atom editor has "Scroll Past End" config enabled, while scrolling the preview, rendered code block will also be scrollable, enough to scroll up all the 10 lines of code. This is often very frustrating experience.

[2015-03-11 18:25] 50Wliu commented on #214
Duplicate of #209, please subscribe there for updates.

[2015-03-11 18:25] #214 closed

[2015-03-12 20:31] chharvey commented on #99
+1 from me for this request. 99% of the time I use the "elegant" workaround (demo'd by @izuzak 's gif) every time I open Markdown preview. It gets quite tedious.

[2015-03-12 20:41] thedaniel commented on #99
IMO this might be worth adding a config option.

[2015-03-13 01:27] zjunothing commented on #204
m

[2015-03-15 17:53] jwir3 opened #217 "Include a markdown guide as well"
It would be nice if a guide to markdown was available right within the preview. (i.e if we converted https://help.github.com/articles/github-flavored-markdown/ and https://help.github.com/articles/markdown-basics/ to markdown pages that shipped with the plugin, and allowed for display of them within in atom).

[2015-03-15 18:05] thedaniel commented on #217
That's a pretty cool idea.

[2015-03-16 09:52] MGaetan89 commented on #58
It would be nice to also include `<meta charset="utf-8">` in the generated HTML.

[2015-03-16 15:16] davidhesselbom commented on #85
+1

[2015-03-17 19:49] nathansobo commented on #212
Closes #213.

[2015-03-17 20:05] 50Wliu commented on #212
@nathansobo I assume you wanted to close this?

[2015-03-17 20:05] #212 closed

[2015-03-18 03:53] nathansobo commented on #212
Thanks a ton for helping track everything @50Wliu.

[2015-03-18 12:11] 50Wliu opened #218 "Markdown Syntax Highlighting not making a text bold if it's a part of a link"
_From @diagramatics on March 18, 2015 10:37_

I'm talking about `[**this**]()`. Markdown Preview seems to make it a valid formatting but the editor doesn't make it bold, only color highlights.

To prove it, [**this is a valid formatting**](#) in GitHub.

_Copied from original issue: atom/atom#6017_

[2015-03-18 12:41] diagramatics commented on #218
Wait, this is for the preview, right? The problem here is on the text editor, not on the preview. The preview works fine, it's just that on the editor it isn't highlighting the text as well as making it bold.
![](https://cloud.githubusercontent.com/assets/5153378/6708859/36ea8a32-cdc8-11e4-9d66-d6d6d1b6b694.png)

[2015-03-18 12:59] 50Wliu commented on #218
Ah, I thought when you mentioned Markdown Preview you were saying that was what was rendering incorrectly.  I guess I'll move it again :P.

[2015-03-18 13:06] 50Wliu commented on #218
This issue was moved to atom/language-gfm#82

[2015-03-18 13:06] #218 closed

[2015-03-18 13:09] diagramatics commented on #218
Ah, I've been trying to find the right repo to post the issue to. Thanks!

[2015-03-20 14:11] professormahi opened #219 "Table dose not working"
Hi,
Why `Tables` dose not working in your previews ?
| Header One     | Header Two     |
 | :------------- | :------------- |
  | Item One       | Item Two       |

this is what I'm using to have table,
Thanks

[2015-03-20 14:17] izuzak commented on #219
Can you try removing the empty lines?

This works for me:

![screen shot 2015-03-20 at 15 15 44](https://cloud.githubusercontent.com/assets/38924/6753106/0269375c-cf14-11e4-9cd9-a0caba591dd3.png)

The syntax you are using with empty lines doesn't even work in GitHub comments. Can you clarify why you expected that to work?

[2015-03-20 14:22] professormahi commented on #219
Thaanks, It have been solved

[2015-03-20 14:22] #219 closed

[2015-03-24 18:45] Liamsi opened #221 "Style info gets lost on save to HTML"
First of all: Thanks for this great addon.

If I try saving the preview of a very simple example containing some js code to HTML, the CSS-style information of the syntax hightlighting is lost. Does this happen on purpose? I hacked a little on the markdown-pdf addon (https://github.com/travs/markdown-pdf) to save an HTML file with all the syntax highlighting. I could provide you with a patch if hav

[2015-03-24 19:32] lee-dohm commented on #221
I extracted the sample Markdown in case it helps others with investigations:

    simple sample markdown file
    ---------------
    test :+1:
[code]

Here is a screenshot of what I see after I save as HTML and open in Chrome from Atom v0.188.0-19975ce on Mac OS X 10.10.2:

![black-on-dark-gray](https://cloud.githubusercontent.com/assets/1038121/6810874/2abdd838-d221-11e4-805d-2262a114a93d.png)

[2015-03-24 23:48] #178 closed

[2015-03-25 15:31] deg0nz commented on #160
+1

[2015-03-26 11:23] renkun-ken opened #223 "Synchronous scrolling"
Is it possible to implement synchronous scrolling, i.e. when I scroll markdown source document, the preview should scroll too, and (better) vice versa?

[2015-03-26 11:29] thomasjo commented on #223
Duplicate of https://github.com/atom/markdown-preview/issues/24.

[2015-03-26 11:29] #223 closed

[2015-03-27 14:17] chaosink opened #224 "Hope to have more styles to choose"

[2015-03-27 16:29] lee-dohm commented on #224
As can be seen in #135, there is already a method of customizing your Markdown Preview stylesheet. Is that what you're looking for?

[2015-03-27 22:30] 50Wliu opened #226 "utf markdown html mangled"
_From @m4b on March 27, 2015 22:28_

It seems like utf-8 symbols are mangled when saving a markdown file as html (on OSX Yosemite).

For example:

is rendered as the following html:

It shows up fine using the built-in Markdown Preview.

_Copied from original issue: atom/atom#6136_

[2015-03-28 11:57] juaron commented on #226
Looks like this issue https://github.com/chjj/marked/issues/561.

[2015-03-29 03:21] m4b commented on #226
I've verified this issue exists for linux as well.

Here's my `uname -a`

[2015-03-29 14:42] gimm opened #228 "fixed scroll postion"
while eidting md file with the preview panel open aside, the preview panel will jump to the very top each time the md file changed.
Is there a way to make the preview stay where it is(keep the scroll position)? So that I can preview while editing.

[2015-03-29 14:46] 50Wliu commented on #228
Please update to the latest Atom version (currently 0.188.0).  This has been fixed.

[2015-03-29 14:46] #228 closed

[2015-03-29 16:36] Liamsi commented on #221
I wanted to fix this myself but I found (using v0.145.0 and atom 0.188.0):
![save_as_html](https://cloud.githubusercontent.com/assets/7441766/6886548/481a94ec-d641-11e4-9113-e7a1d8bd77e3.png)
Although the colors are not exactly the same I get a readable html file. I think its ok to close this issue.
From the atom changelog: "Saving HTML from markdown now correctly includes current text editor styl

[2015-03-29 16:37] #221 closed

[2015-03-29 17:34] Liamsi commented on #221
@lee-dohm and thank you for your time and help

[2015-03-29 20:23] lee-dohm commented on #221
You're welcome, I'm glad I could help! :grinning:

[2015-03-30 17:10] kevinsawicki commented on #226
Fixed by #227

[2015-03-30 17:10] #226 closed

[2015-04-01 09:35] svoop opened #229 "Vertical split plane"
A very nice extension!

However, it would be very cool, if there was a setting to preview in a vertical split plane (down) instead of the default horizontal (right) one.

[2015-04-01 11:44] izuzak commented on #229
Looks like a duplicate of https://github.com/atom/markdown-preview/issues/99.

[2015-04-01 11:44] #229 closed

[2015-04-01 13:24] howitzer-industries opened #230 "Inline code blocks style inconsistently with GitHub.com"
Inline code blocks are rendered with `white-space: nowrap` in this module, but with the default `white-space: normal` on GitHub.com.

An example that renders differently in preview and on GitHub:

[code]

Showing the break under the values column:

| Setting | Type | Values | Description |
|---------|------|--------|-------------|
|`TaxRate`| decimal | `x: 0 <= x` | Used to account for tax on cost

[2015-04-02 09:34] nickcmaynard opened #232 "Save as HTML does not export collapsed tables"
A markdown document with embedded tables, like so:

[code]

Should export with collapsed borders, to render like so:

![screen shot 2015-04-02 at 10 33 18](https://cloud.githubusercontent.com/assets/1984684/6961509/c0e5605c-d923-11e4-8830-10aa48f71baa.png)

However, borders are not collapsed when "Save as HTML..." is used:

![screen shot 2015-04-02 at 10 33 30](https://cloud.githubusercontent.com/

[2015-04-02 15:24] michaelklotz opened #234 "Single line code blocks collapsing"
In the markdown preview window, a single line code block is being collapsed so it is not visible.  Unless a line break is added within the code, the code is not visible in the generated  `<pre>` block.

**Actual Behavior**
![actual](https://cloud.githubusercontent.com/assets/3826859/6967014/4b27a5e2-d922-11e4-932a-e9d8394017bf.PNG)

**Expected Behavior**
![expected](https://cloud.githubusercontent

[2015-04-05 03:11] Ayaminn opened #235 "Failed to load the markdown-preview package"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.189.0
**System**: Mac OS X 10.10.2
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.146.0

### Stack Trace

Failed to load the markdown-preview package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-06 15:15] Jcamilorada commented on #85
+1

[2015-04-06 16:44] #230 closed

[2015-04-06 18:59] hairyhenderson commented on #108
:+1: I'd love to see the "cooler solution" implemented. There's a couple of other tools I've used that update the markdown based on the checkbox status, and it's really useful.

[2015-04-06 19:23] philipgiuliani commented on #108
@hairyhenderson Github is also updating the MD when clicking on checkboxes :) Very nice!

[ ] Test :)

[2015-04-07 13:19] toloco opened #236 "Uncaught Error: Replacing non-existent child"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.187.0
**System**: linux 3.16.0-31-generic
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.139.0

### Stack Trace

Uncaught Error: Replacing non-existent child

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-08 10:36] alexrussell opened #237 "Table background colour is overridden but no text colour is specified"
Not a problem before, but one-dark-ui changes our background and text colours from underneath us.

![markdown bads](https://cloud.githubusercontent.com/assets/412784/7043698/8d193bf8-dde3-11e4-997e-139566c4dc4d.png)

Cross ref: atom/one-dark-ui#43

[2015-04-08 16:32] simurai commented on #237
This will be fixed for the one-dark-ui theme in the next release.

There is another issue open about adapting the markdown-preview to themes: #6

[2015-04-08 16:32] #237 closed

[2015-04-09 01:55] mingjunyang opened #238 "Chinese not showing up in Markdown Preview"
My OS openSUSE 13.2 (Harlequin) (x86_64) 64 位 with GNOME 3.14.2
Atom is 0.190.0
markdown-preview 0.148.0

[code]
[code]

But privew is ![image](https://raw.githubusercontent.com/mingjunyang/myvimconf4c/master/2015-04-08.png)
config.cson
[code]

[2015-04-09 02:00] mnquintana commented on #238
@mingjunyang Can you try uploading the screenshot again? (It's currently broken.) You can upload it by dragging and dropping it into the issue's edit text box.

[2015-04-09 03:14] wong2 commented on #238
what do you get if you copy the html code into a .html file and open it in browser?

[2015-04-09 04:04] mingjunyang commented on #238
@wong2  save as a.html  and copy as html , open in  browser is good work.正常显示。

[2015-04-09 09:30] alexrussell commented on #6
I feel I must point out that while markdown-preview adhering to your currently-select theme is pretty great for the actual purpose of the plugin (previewing markdown files), I feel that when the HTML is exported, it should default to the more standard Github-style white background, etc.

I tend to write my documentation/specs in markdown, then use markdown-preview to export HTML and then print tha

[2015-04-09 15:30] 50Wliu commented on #238
Refs atom/atom#6214.

[2015-04-13 14:24] alexrussell opened #241 "Code blocks appear to have indent markers (and invisibles) applied"
Not sure if this is by design or not, but it's not ideal. In standard code it's almost acceptable, but in my top example it's kind of an annoyance.

![indentation](https://cloud.githubusercontent.com/assets/412784/7117451/a319c038-e1f0-11e4-93e6-95b92d91662a.png)

(In case it's relevant, I'm using the Atom Dark theme as I don't like the dark background in the markdown preview, but I don't think th

[2015-04-14 08:52] izuzak opened #242 "Link with parentheses are not correctly rendered in Markdown preview"
_From @MGaetan89 on April 14, 2015 6:36_

In the Markdown preview pane, the link containing parentheses are not correctly rendered.

Here is a screenshot of the preview in Atom:
![Atom preview](https://cloud.githubusercontent.com/assets/1009664/7131556/ffe2fd58-e280-11e4-86d9-d6929778b934.png)

And here is a screenshot of the preview on GitHub:
![capture du 2015-04-14 08 33 03](https://cloud.githu

[2015-04-14 16:09] samodom commented on #160
+1

[2015-04-14 16:11] samodom commented on #24
+1

[2015-04-14 16:11] IanLunn commented on #24
Thank you for your email. I am out of the office until April 20th and will get back to you as soon as possible.

--
Ian Lunn
Front End Developer

[2015-04-14 18:27] kevinsawicki commented on #242
I think this is a duplicate of https://github.com/atom/markdown-preview/issues/137

[2015-04-14 18:27] #242 closed

[2015-04-14 19:19] deserat opened #243 "Uncaught Error: Module did not self-register."
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 0.190.0
**System**: Mac OS X 10.10.2
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.131.0

### Stack Trace

Uncaught Error: Module did not self-register.

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-04-14 19:23] mnquintana commented on #243
It looks like you're running an old user-installed version of markdown-preview - please uninstall it so it doesn't conflict with the version that ships with Atom 0.190.0 (e.g. in Settings or by running `apm uninstall markdown-preview`). Let me know if you have any questions!

[2015-04-14 19:23] #243 closed

[2015-04-15 20:05] kevinsawicki commented on #243
@deserat If you delete the `/Users/vance.dubberly/.atom/packages/markdown-preview` folder and restart Atom, the issue should go away, this package is bundled with Atom and should not be installed to `/Users/vance.dubberly/.atom/packages`

[2015-04-16 05:49] mengzyou commented on #238
Subscribe this issue, I have the same issue on **v0.191.0** .

[2015-04-17 00:35] nathansobo commented on #236
I'm having some trouble reproducing this. Can anyone else reproduce. Does this happen when you run `atom --safe`?

[2015-04-18 12:44] fikovnik commented on #20
+1

[2015-04-20 18:46] izuzak commented on #236
@toloco Are you still seeing this problem? I'm having trouble reproducing this as well, on Atom 0.192.0.

[2015-04-20 20:19] toloco commented on #236
Sorry guys, it is on my working environment, let me check it tomorrow.

[2015-04-22 22:16] thomasjo opened #244 "Add "Use GitHub.com Style" functionality"
_NOTE: This is a tracking issue spawned out of #240_

Since it's not unlikely that most users previewing their markdown files in Atom will end up pushing them to github.com, we should provide an option that will ensure the previewed markdown document closely resembles what it would look like if rendered on github.com, instead of using the current UI theme's (markdown) style. Not all themes overrid

[2015-04-24 02:09] arashpayan commented on #197
Just wanted to add that I'm also experiencing this on a small (< 200 lines) markdown file with lots of code blocks.

[2015-04-24 09:44] lukejanicke opened #245 "Unusual vertical scrolling in a code block is interfering with vertical page scrolling"
When a code block (using either tabs or four tildes) has a line of code that is longer than its container in the Markdown Preview window, that container will (of course) scroll horizontally. However, an  unnecessary vertical scroll is also introduced which interferes with the page scroll. The height of the additional vertical scroll appears to be proportional to the number of lines of code in the

[2015-04-26 17:55] yinwoods opened #246 "I'm curious Why it can't show Chinese correctly?"
I use markdown-preview in the atom editor, can you help me solve this problem?

[2015-04-26 18:55] prashantv commented on #228
I'm using version 0.194 and seeing the same issue.

[2015-04-26 22:40] lee-dohm commented on #246
You probably need to style it to use a font that includes Chinese glyphs. There is a great post on [Discuss](https://discuss.atom.io), the official Atom message board, about how to fix this kind of thing for Hindi on the tree view:

https://discuss.atom.io/t/unicode-font-support-in-treeview/16310/4?u=leedohm

[2015-04-26 22:40] lee-dohm commented on #246
Let us know if you need more help!

[2015-04-26 22:44] lee-dohm commented on #228
The original issue was reported as #178, I believe. You should probably comment there instead. Also, when you do reply there, could you give the following information?

* What OS and version are you running?
* Can you reproduce the issue after completely exiting Atom and restarting using `atom --safe`?

[2015-04-27 00:18] 50Wliu commented on #246
Duplicate of #238, please subscribe there for updates.

[2015-04-27 00:18] #246 closed

[2015-04-27 03:41] prashantv commented on #178
I'm still seeing this issue. I'm on OSX (10.10.3) and using 0.194.0

I tried safe mode (`atom --safe`) and still reproduced the issue, uploaded a video here:
https://drive.google.com/file/d/0B1l0iMj29vl7VmNrajBWdThwR0U/view

[2015-04-30 15:18] dullroar commented on #151
Have you filed a bug with marked, or should I?

[2015-05-02 16:15] superlin commented on #238
Will it support Chinese in the future?

![onpj31b x ea9g0o_ qj](https://cloud.githubusercontent.com/assets/3763687/7441785/8093e370-f129-11e4-8e5b-fc313ea80173.png)

[2015-05-02 16:22] 50Wliu commented on #238
@superlin have you tried 0.196.0?

[2015-05-05 09:21] alexrussell opened #247 "Emoji rendering in copy/save to HTML"
Now that Atom has decided to use the `asar` format, any export-to-HTML function includes links to `/Applications/Atom.app/Contents/Resources/app.asar/node_modules/roaster/node_modules/emoji-images/pngs/[emoji].png` which don't work due to the `app.asar` file not being a directory as the filesystem sees it. (Also, as a side note, should these actually be `file://` URLs? Converting them to `file://`

[2015-05-05 11:41] Gadgetoid commented on #160
+1

[2015-05-08 17:17] lcgong commented on #238
I have  also  the same issue on 0.196.

I tried atom/atom#6214. But it does not works. Where should I set font family for markdown-preview.

[2015-05-09 19:06] tpoisot opened #248 "Replace marked by markdown-it?"
The package currently uses marked to render markdown into html. I think it would be worth discussing whether this is the best option -- [markdown-it][mit] seems to be more advanced, easier to expand, and is both GFM and CommonMark compatible.

[mit]: https://github.com/markdown-it/markdown-it

[2015-05-09 19:20] mnquintana commented on #248
Thanks for bringing this up @tpoisot! I agree, I think we should probably move markdown-preview (as well as Atom core and other packages that use marked) over to markdown-it, but we'll need more people to weigh in on this.

/cc @atom/feedback

[2015-05-09 21:58] lee-dohm commented on #248
I looked through the demo page and while I saw lots of things talking about CommonMark and features that I know GFM supports, I didn't see a GFM mode like the one for CommonMark. Is there some easy way to configure markdown-it to enable the features that GFM supports and disable the ones it doesn't?

[2015-05-09 22:07] mnquintana commented on #248
https://markdown-it.github.io/markdown-it/#presetname

Looks like we'd have to make a PR to add it as a preset.

[2015-05-09 22:07] tpoisot commented on #248
@lee-dohm good question. From my reading of the docs, markdown-it is based on plugins, so GFM would be a set of plugins (most of which are already included). On a broader scale, maybe CommonMark will eventually take over, and I'd like to see some flexibility in the different tools. This is where markdown-it coud work, as in the package settings, users can select which of the plugins they want to a

[2015-05-09 22:08] tpoisot commented on #248
@mnquintana Isn't what the "default" does?

[2015-05-09 22:09] mnquintana commented on #248
@tpoisot I wasn't totally sure on that – similar != the same as. So I couldn't tell at a glance if it was identical to GFM.

[2015-05-09 22:11] tpoisot commented on #248
@mnquintana right, good call. This is where the specs will be useful. The criterion would be that replacing marked by markdown-it would not break anything when the "right* config is used.

[2015-05-11 12:45] brunetton commented on #114
While waiting for the pull request to be included on next Atom release, we can customize our `keymap.cson` adding this :

<pre>
'atom-text-editor':
  'ctrl-shift-m': 'bracket-matcher:select-inside-brackets'
'atom-text-editor[data-grammar="source gfm"]':
  'ctrl-shift-m': 'markdown-preview:toggle'
</pre>

[2015-05-12 17:33] rochamorelli commented on #24
Thanks @mark-hahn!!! Great :D

[2015-05-13 02:27] davidmarble commented on #24
Muchas gracias @mark-hahn !!!

[2015-05-13 11:15] bucaran commented on #6
I think it should not, or at least there should be a way to turn this off. A markdown preview with a dark background forces me to change the theme every time I am editing markdown files.

[2015-05-13 12:41] thomasjo commented on #6
I just need to find time to finalize https://github.com/atom/markdown-preview/pull/240. That PR resolves this issue. Feel free to test out that PR and see if it's satisfactory.

[2015-05-13 13:01] alexrussell commented on #6
@thomasjo I have not tested the PR but it looks to me from the description and a brief look at the code that that's exactly what I'm looking for personally. Wait wait to see it merged.

[2015-05-13 15:45] izuzak commented on #236
Friendly ping, @toloco -- were you able to reproduce this problem on your other environment in Atom 0.198.0?

[2015-05-13 16:19] toloco commented on #236
It's version 0.187.0

[2015-05-13 16:21] thomasjo commented on #236
@toloco Please upgrade to the latest version of Atom (currently v0.198.0).

[2015-05-15 22:39] Nijikokun opened #250 "Syntax Highlighting for Code Blocks fails."
![http://dump.nexua.org/Screen_Shot_2015-05-15_at_3.37.13_PM.png](http://dump.nexua.org/Screen_Shot_2015-05-15_at_3.37.13_PM.png)

The styling of the markdown should be up to the end user, not the whims of the developer.

Settings for `use_syntax_theme_for_code_blocks` and `markdown_theme` (currently modeled after Github, but it fails in many places)

[2015-05-16 06:10] mycstdlib commented on #238
I found that turning the Themes into 'Atom Light' will fix this problem on my machine.
Settings->Themes->change UI Theme&Syntax Theme both to 'Atom Light'.
My atom version is 0.199
Maybe you can try it.

[2015-05-16 13:32] mengzyou commented on #238
@mycstdlib this workaround is not work for me on openSUSE 13.2.

[2015-05-17 15:28] wufeifei commented on #244
👍

[2015-05-19 13:42] bronson commented on #245
I don't get it.  This appears to work exactly the same as in browsers: scrolling scrolls the textarea if it can, otherwise it scrolls the page.  If there's a bug here, I can't replicate it.

I'm using 0.199.0 and 0.148.0.

[2015-05-19 13:45] bronson commented on #241
This appears fixed in atom 0.199.0 and markdown-preview 0.148.0?

At least, I can't replicate...  No indent markers in my markdown output that I can see.

[2015-05-19 16:03] alexrussell commented on #241
Still does it for me Atom 0.199.0 and markdown-preview 0.148.0 also.

Try using the following code:

[code]

[2015-05-19 17:56] bronson commented on #241
When I turn on Invisibles, the invisibles show up.  When I turn them off, they're gone...  I guess I don't understand the problem?

![screen shot 2015-05-19 at 10 54 57 am](https://cloud.githubusercontent.com/assets/1776/7709989/a80a5e18-fe15-11e4-80e0-15c0a7d8d6cf.png)

[2015-05-19 21:28] hryamzik opened #251 "Cmd+C on selected text in preview performs 'Copy As HTML'"
That is a bit confusing. Selecting text and copying with a copy command works fine.

[2015-05-20 11:29] izuzak commented on #251
@hryamzik I'm having trouble reproducing this. Which version of Atom are you using, which OS, and can you reproduce this in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)? Can you take a screenshot of the [keybinding resolver](https://atom.io/docs/latest/hacking-atom-debugging#check-the-keybindings) when you press `cmd-c` in the preview w

[2015-05-20 11:36] hryamzik commented on #251
@izuzak, sure! It's Atom Version 0.199.0 (0.199.0), Mac OS 10.10.3.

Looks like it's a bit more complicated then I expected: text should be copied from a code block. Key bindings resolver is empty.

![image](https://cloud.githubusercontent.com/assets/1643962/7724790/766b235e-fefd-11e4-8c1e-c10a08aa1b2e.png)

It reproduces in a safe mode as well.

[2015-05-20 11:43] izuzak commented on #251
I'm not sure I understand what that means. Can you please clarify and provide the _exact_ steps which reproduce this problem for you, including a snippet of Markdown which you're previewing?

Interestingly, the keybinding resolver shows that you pressed `ctrl-shift-cmd`. I was assuming you were just pressing `cmd`. Can you confirm which keys you're pressing exactly and which keyboard layout you're

[2015-05-20 11:43] iamale opened #252 "Uncaught TypeError: Cannot read property 'indexOf' of null"
Occurs when closing the preview tab.

**Atom Version**: 0.188.0
**System**: linux 3.11.0-12-generic
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.144.0

### Stack Trace

Uncaught TypeError: Cannot read property 'indexOf' of null

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-05-20 11:47] hryamzik commented on #251
This comment contains a valid markdown to reproduce the eissue.

[code]

[2015-05-20 11:51] mnquintana commented on #252
You're running a pretty old version of Atom – please update to the latest version (Atom 0.200.0).

[2015-05-20 11:51] #252 closed

[2015-05-20 11:52] hryamzik commented on #251
Key bindings resolver doesn't update on pressing the cmd+c or just shows cmd.
![image](https://cloud.githubusercontent.com/assets/1643962/7725004/565f7afe-feff-11e4-8c05-4fdd5bd23224.png)

Here're the steps:

1. Create a markdown file, add a code block to it. [This](251#issuecomment-103855408) comment contains a valid example.
2. Open markdown preview by pressing the ctrl+shift+m
3. Select some te

[2015-05-20 12:13] izuzak commented on #251
Thanks for those steps, @hryamzik -- that's helpful, I can reproduce this now as well.

[2015-05-20 12:27] alexrussell commented on #241
While that's a fair point, I still feel that the issue is valid: IMO invisibles are useful, but for editing only. Markdown preview is a preview of the rendered Markdown, so you wouldn't expect invisibles to ever turn up there. Same goes for indent guides.

[2015-05-20 12:37] hryamzik commented on #251
Great, sorry for not describing this properly in an initial comment.

[2015-05-21 15:40] pcarolan commented on #178
I'm also having this issue.

[2015-05-23 14:23] cryptoboy opened #253 "SVG not updated"
Referenced SVG that is being edited seems to be cached and doesn't get updated in the preview.

[2015-05-23 15:20] lee-dohm commented on #253
This is a duplicate of #207. Please subscribe there for updates.

Thanks for reporting!

[2015-05-23 15:20] #253 closed

[2015-05-24 16:20] linquize opened #254 "Wrong intentation of codeblock"
entering below codeblock

4 spaces before ```, 6 spaces before void, 8 spaces before //, 6 spaces before }

[code]

Should not appear as

[code]

Expected result
[code]

[2015-05-24 18:07] aioue commented on #244
+1

[2015-05-25 16:27] Siecje opened #255 "Language Name is Case Sensitive"
For example using `JavaScript` does not have syntax highlighting.

Both work in GitHub as follows

[code]

[code]

[2015-05-28 15:03] jbt commented on #245
I think the point here was that the code block shouldn't be scrolling vertically at all, it should resize vertically to fit its content exactly - why is there a whole pile of empty space at the bottom? It seems that code blocks in the output are picking up the global "Scroll Past End" option because they're implemented as editors

[2015-05-28 16:55] bronson commented on #245
That's definitely true for short code blocks like this.  That might merit an issue of its own?  For long code blocks it's debatable...  I've seen both ways and both seem fine.

I don't see the page getting stuck though.

[2015-05-29 01:07] lee-dohm commented on #245
I feel that the common case behavior for code blocks of any size should be that it does not scroll vertically.

[2015-05-29 08:03] ryuheechul commented on #24
+1 and thanks to @mark-hahn !

[2015-06-01 07:00] rgl opened #257 "When using the keyboard, copying text that originates from a Fenced code block does not work"
Please note that copying from a normal paragraph works fine.

I'm using Atom 0.204.0 on Windows.

[2015-06-01 13:23] tonka3000 commented on #247
Have the same problem. I think a base64 solution would be the best because the hole markdown export is inline.

[2015-06-02 16:47] ryl commented on #178
+1 I'm also having this problem on 0.204.0

[2015-06-02 22:37] fcrespo82 opened #258 "If last cell doesn't have data it does not render"
Hi, I found a bug in markdown table rendering.

It does not renders the last cell if it's empty.

Atom version: 0.204.0
markdown-preview version: 0.150.0
OS: Ubuntu 14.04

![table_formatted](https://cloud.githubusercontent.com/assets/462171/7948769/8611a0d4-095d-11e5-8e13-9056333dbb11.png)

[2015-06-03 06:38] izuzak commented on #258
Thanks for the report, @fcrespo82 -- looks like a duplicate of https://github.com/atom/markdown-preview/issues/206, which should have a better title. I'll close this and update the title on the other issue, so please follow that for updates.

[2015-06-03 06:38] #258 closed

[2015-06-03 14:05] ricardofbarros commented on #251
+1

[2015-06-03 14:07] xicombd commented on #251
+1

[2015-06-03 16:52] AhemNason commented on #6
I think it would be great if I could just point the preview at a custom css if I wanted so it could look like whatever I want. I use markdown for basically everything and I've been using Marked a lot, but I think it would be great to have the preview look exactly like where you're expecting the content to go, even if that's not what your editor looks like while you're working.

[2015-06-04 01:27] mnquintana opened #259 "Support copy with Keyboard shortcut when the Preview Window is focused"
_From @rgl on May 31, 2015 18:6_

When we open the Preview Window, say when editing a `.md` file, let us press `Ctrl+C` to copy the selected text. Currently that only works from the context menu.

Please note that copying from a normal paragraph works, BUT if you select the text from a `Fenced code block` it wont work. I'm using Atom 0.204.0.

_Copied from original issue: atom/atom#7041_

[2015-06-04 01:27] mnquintana commented on #259
_From @lee-dohm on May 31, 2015 18:24_

This belongs on the [markdown-preview package](https://github.com/atom/markdown-preview). Would you mind reopening the Issue there?

[2015-06-05 18:25] chemoish commented on #149
:+1:

I noticed that you can remove indentation from content to fix the alignment *some* of the time.

But doing this is bad as some times the code totally formats incorrectly... And other times the code block breaks entirely.

@izuzak Should I file a bug with marked?

[2015-06-08 08:18] izuzak commented on #149
@chemoish I'd recommend opening an issue if 1) you can still reproduce the problem with marked (perhaps on a smaller example), and 2) the issue isn't already reported on marked. Does that make sense?

[2015-06-08 12:40] fgimian commented on #24
+1

[2015-06-09 17:44] LuisHerranz commented on #197
same here, it's quite slow :(

[2015-06-09 20:39] chemoish commented on #149
https://github.com/chjj/marked/issues/584

[2015-06-10 06:31] frantic1048 commented on #238
@mengzyou ensure you have  `文泉驿等宽微米黑` font on your machine, or any other fonts support Chinese  are ok (such as `Adobe Source Han Sans`).

simply you can try:

    .markdown-preview{
      font-family: "文泉驿等宽微米黑" !important;
    }

[2015-06-10 06:53] mengzyou commented on #238
@frantic1048 That's great, works fine, thank you very much!

[2015-06-10 07:07] mingjunyang commented on #238
I do it ,It's may be okay.
[code]

[2015-06-12 14:49] IonicaBizau opened #261 "<kbd> tags are ugly"
The `<kbd>Some button</kbd>` snippets are rendered correctly, but the styling is ugly (at least I guess they are not supposed to look so, or it can be improved anyway). :smile:

I'm using the dark theme.

[2015-06-12 14:51] mnquintana commented on #261
/cc @simurai Another consequence of the [Bootstrap update](https://github.com/atom/atom/pull/6848), I think.

[2015-06-13 11:04] greenqy commented on #238
@mingjunyang this works fine for me, thank you!

[2015-06-14 07:14] simurai commented on #261
@IonicaBizau Which dark theme are you using? By default is should look like this:

![screen shot 2015-06-14 at 4 09 39 pm](https://cloud.githubusercontent.com/assets/378023/8147632/6150f874-12b0-11e5-824c-0b49de8e3ab2.png)

[2015-06-14 07:16] IonicaBizau commented on #261
@simurai *One Dark* -- I guess this is the default theme.

[2015-06-14 13:54] simurai commented on #261
That's odd, in One Dark UI, it looks like this for me:

![screen shot 2015-06-14 at 10 46 35 pm](https://cloud.githubusercontent.com/assets/378023/8148782/57918ef2-12e7-11e5-99d6-efc501e2d3b3.png)

There must be something that overrides the markdown-preview styles: https://github.com/atom/markdown-preview/blob/master/assets/primer-markdown.less#L435-L447 What's the Syntax theme?

[2015-06-14 14:00] IonicaBizau commented on #261
@simurai *One Dark* too:

![image](https://cloud.githubusercontent.com/assets/2864371/8148826/a993ba94-12b6-11e5-8097-a711cc8a2e94.png)

Is it possible that the GTK theme can affect that? Or how can I be sure that I have the latest updates?

![image](https://cloud.githubusercontent.com/assets/2864371/8148828/d5041372-12b6-11e5-9b34-aa068e365a33.png)

[2015-06-14 14:02] mnquintana commented on #261
@IonicaBizau Can you reproduce this in safe mode? (`atom --safe`)

[2015-06-14 14:03] IonicaBizau commented on #261
@mnquintana Yes :thought_balloon:

![image](https://cloud.githubusercontent.com/assets/2864371/8148840/47e9dbec-12b7-11e5-8023-b430a939d9aa.png)

[2015-06-15 02:14] simurai commented on #261
Ha.. that's quite the mystery. If you don't mind inspecting with the DevTools, that should give some clues.

1. Menu > `View > Developer` and then `Toggle Developer Tools`
2. Click on the magnifying glass
3. and then on the `kbd` in the preview.

![screen shot 2015-06-15 at 11 02 39 am](https://cloud.githubusercontent.com/assets/378023/8151753/1c68b51e-134e-11e5-848d-8cd1abc2a3ff.png)
![screen sho

[2015-06-15 06:53] IonicaBizau commented on #261
@simurai Sure, I'm pretty comfortable with dev tools. :smile:

![image](https://cloud.githubusercontent.com/assets/2864371/8154572/311de3d0-1344-11e5-8a16-466e8cc415ae.png)

It looks like the *One Dark* theme overrides the style:

![image](https://cloud.githubusercontent.com/assets/2864371/8154593/60a08e78-1344-11e5-9523-e738dfc42076.png)

[2015-06-15 12:17] simurai commented on #261
Can it be that you're using an older version of Atom? Looks like the `color` is missing, but that should be fixed once you update Atom to the most recent version (`0.209.0`).

[2015-06-15 12:52] mnquintana commented on #261
@IonicaBizau What version of Atom are you using?

[2015-06-15 13:15] IonicaBizau commented on #261
I was using `0.192.0-ca99ff4`. After updating to the latest release the issue was fixed. Thanks!

[2015-06-15 13:15] #261 closed

[2015-06-16 18:45] adamreis commented on #207
+1 for this!

[2015-06-17 16:58] jarruda commented on #178
Issue present in version 0.209, OSX 10.10.3

[2015-06-21 06:07] terrycloth opened #262 "Tables break if a cell contains a literal pipe character"
This would be easiest for me to explain by example:

    punctuation | name
    -------------|-----------
    `|`            | "pipe"

The literal pipe is in `backticks`, so it should be rendered as the actual character, and styled as code. Instead, the markdown preview treats the pipe as a cell divider, and the table doesn't render correctly.

[2015-06-22 08:00] izuzak commented on #262
This is a problem in marked, the Markdown library this package uses to parse and render Markdown. See https://github.com/chjj/marked/issues/285.

[2015-06-23 03:32] hyiltiz commented on #20
Looking forward to Github and Atom to to add MathJax into standard markdown.

[2015-06-24 08:49] sorccu commented on #197
Very slow for me as well, even with smaller files (with code blocks). The problem is strangely way more pronounced when removing text with backspace, but a restart of Atom makes everything fairly quick for a while. You can start to feel the slowness crawl back after perhaps 10-15 minutes of light activity. Using 0.211.0 right now, but the slowness has been around for a long time.

[2015-06-24 19:50] phairow commented on #85
+1

[2015-06-25 20:44] negativefix commented on #244
:thumbsup:

[2015-06-26 08:35] jlchereau opened #263 "Font does not properly display diacritics"
Atom 1.0 on Windows 8.1

![image](https://cloud.githubusercontent.com/assets/2556751/8373667/b770775e-1be6-11e5-97b6-14b68dd5ae75.png)

[2015-06-26 10:48] izuzak commented on #263
Can you share a link to that repository? I'm not seeing that behavior:

![screen shot 2015-06-26 at 12 48 36](https://cloud.githubusercontent.com/assets/38924/8375874/ac12987c-1c01-11e5-9cae-8666f5e7b04e.png)

Also, was the file saved in a different encoding perhaps?

[2015-06-26 13:58] jlchereau commented on #263
File was initially saved by Webstorm 10 with UTF-8 encoding.
Your screen shot does not seem to use the same font (italic vs normal).
Contrary to Arial, Helvetica has diacritic issues on Windows.

[2015-06-26 16:26] fojt-cz opened #264 "Uncaught TypeError: path must be a string"
[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.0.0
**System**: Microsoft Windows 8.1
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.150.0

### Stack Trace

Uncaught TypeError: path must be a string

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-06-26 16:38] mnquintana commented on #263
@jlchereau If that's the case, then it would seem that this is an issue with Helvetica, and not markdown-preview per se, unless I'm misunderstanding?

[2015-06-26 18:08] jlchereau commented on #263
Unless markdown-preview explicitly uses an incompatible font when it could use Arial on Windows with no option to change the font. A good option would be to make the markdown stylesheet editable via File -> Open Your StyleSheet (not dedicated) or Packages -> Markdown Preview -> Stylesheet (dedicated).

[2015-06-26 19:10] mnquintana commented on #263
@jlchereau It does currently specify Helvetica for the default font. There is an open PR for what you're describing though: https://github.com/atom/markdown-preview/pull/260

[2015-06-27 00:22] cbowns opened #265 "Markdown syntax highlighter doesn't ignore code block's asterisks"
Markdown parser reads italics from "*" in code blocks but shouldn't.

My Markdown READMEs are mostly italicized these days:

![](https://cloudup.com/files/iWKHthnh4-w/download)

Even though this is a code block (indented by a tab or four spaces), the in-file syntax highlighter doesn't know it.

## Repro Steps

1. Put some code with a "*" in a markdown file. Here's some simple Markdown for you:

[c

[2015-06-27 02:52] jcbritobr opened #266 "markdown-preview is not working css local files"
The preview dont show changes for css local files. This is a nice feature to have a bug that was filled in the last year.

[2015-06-27 14:18] izuzak commented on #266
@jcbritobr Can you share a link to the bug you're referring to, and also provide the exact steps to reproduce the problem?

[2015-06-27 15:35] jcbritobr commented on #266
Ok

Em sáb, 27 de jun de 2015 11:18, Ivan Žužak <notifications@github.com>
escreveu:

[2015-06-27 16:31] jcbritobr commented on #266
Hi ivan, here is the link of the bug. It happens now in 1.0 linux ubuntu
15.04
https://github.com/webBoxio/atom-html-preview/issues/1

*Júlio César de Brito Gardona*
Especialista em Sistemas | Systems Specialist

[image: Perfil no LinkedIn]
<https://www.linkedin.com/profile/view?id=134240849&trk=nav_responsive_tab_profile>
[image:
Perfil no Twitter] <https://twitter.com/jcbritogardona> [image: Per

[2015-06-28 02:08] mnquintana commented on #266
I'm not sure I follow - atom-html-preview is a different package from this one (which is markdown-preview).

[2015-06-28 03:15] enyusmile commented on #244
good job!

[2015-06-28 11:31] jcbritobr commented on #266
Yes, but is the same problem. Maybe create a new track for this issue.

*Júlio César de Brito Gardona*
Especialista em Sistemas | Systems Specialist

[image: Perfil no LinkedIn]
<https://www.linkedin.com/profile/view?id=134240849&trk=nav_responsive_tab_profile>
[image:
Perfil no Twitter] <https://twitter.com/jcbritogardona> [image: Perfil no
Google Plus]
<https://plus.google.com/u/0/+J%C3%BAlioC%C

[2015-06-28 15:17] pradyunsg opened #267 "Show horizontal rule when not using Github mode"
Currently, when not using the Github mode, horizontal rules are not rendered. They should be.

![screenshot](https://cloud.githubusercontent.com/assets/3275593/8396876/687427d0-1dd6-11e5-9387-4a9dd200c347.png)

Running Atom 1.0.0, markdown-preview 0.150.0.
Live update: :white_check_mark:
Grammers: default
Break on single newline: :white_check_mark:

If it's related, I'm using One Light UI and synt

[2015-06-28 16:29] 50Wliu commented on #267
Hi, can you please try to reproduce this in safe mode (`atom --safe`)?  Thanks.

[2015-06-28 16:29] pradyunsg commented on #267
On it....

[2015-06-28 16:33] pradyunsg commented on #267
Yes...

![screenshot](https://cloud.githubusercontent.com/assets/3275593/8397217/83707c7c-1de1-11e5-8cf1-d1bc2c6fba24.png)

[2015-06-28 16:38] pradyunsg commented on #267
If it's related, I'm using One Light UI and syntax. My custom stylesheet is

[code]

Adding this to OP...

[2015-06-28 16:47] pradyunsg commented on #267
It seems that the hr is white, same as the background...

[2015-06-28 17:05] mnquintana commented on #267
I've been able to reproduce this with both One Dark and Light, but not Atom Dark or Light - not sure if it needs to be fixed here or in those themes.

[2015-06-28 17:52] pradyunsg commented on #267
It seems it is intentionally hidden...

[code]
https://github.com/atom/one-light-ui/blob/0bd4a13a040a3502ab1d4368c13c21ae45d6d700/styles/packages.less#L92 (latest commit as of now..)

[2015-06-30 08:36] petschni commented on #24
+1

[2015-06-30 23:53] garthk commented on #259
See also #251.

[2015-06-30 23:57] garthk commented on #251
This is driving me nuts. The number of times I've pasted an entire window of HTML into my terminal instead of just the command text I have highlighted…

[2015-07-01 15:01] dom111 opened #268 "Rendered HTML applying incorrect styles"
I've recently encountered an issue when exporting Markdown preview in version 1.0.0 of Atom. I've been able to recreate the issue using the following markdown:

[code]

which looks absolutely fine in the preview pane:

![screen shot 2015-07-01 at 16 00 37](https://cloud.githubusercontent.com/assets/842680/8457632/5e6b994a-200a-11e5-915c-fa779fdde083.png)

but when saving the resultant HTML, it app

[2015-07-02 02:48] dlip commented on #85
+1

[2015-07-02 17:17] izuzak commented on #264
Thanks for the report, @fojt-cz -- can you reliably reproduce this? If so, does this happen for all files or only some files? What's the full path of files for which you tried to get a preview?

[2015-07-02 17:32] fojt-cz commented on #264
I can't reproduce this, because i can't find the file. Sorry :)

[2015-07-04 07:00] wayou opened #269 "auto scroll the preview panel"
auto scroll the preview panel when editing and scrolling the markdown source.

[2015-07-04 10:56] izuzak commented on #269
Seems like a duplicate of https://github.com/atom/markdown-preview/issues/24 -- closing in favor of that one.

[2015-07-04 10:56] #269 closed

[2015-07-04 11:01] wayou commented on #24
+1

[2015-07-04 11:05] mnquintana commented on #24
Thanks for the feedback everyone! However, all these +1s and :+1:s are just adding noise, so to minimize that I'm going to lock this issue for now – we may unlock it once someone starts working on this enhancement to get further feedback.

[2015-07-04 14:21] 5T41N opened #270 "Uncaught TypeError: Arguments to path.join must be strings"
[Enter steps to reproduce below:]

1. Open .md file from Spotlight
2. Select "Markdown Preview: Copy HTML" from command palette

**Atom Version**: 1.0.0
**System**: Mac OS X 10.10.4
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.150.0

### Stack Trace

Uncaught TypeError: Arguments to path.join must be strings

[code]

### Commands

[code]

### Config

[c

[2015-07-04 15:41] 50Wliu commented on #270
Is there any chance you can share the contents of the Markdown file?

[2015-07-04 15:54] 5T41N commented on #270
It does *not* happen consistently.
Here's the content:

[code]

# Chat
| ID          | PART                     | POSITION  |
|:-----------:|:------------------------:|:---------:|
| rand.hex(8) | string                   | int (1-3) |
| 1b32c2os    | eENYHYbQyVqW5FiOc+X85M/b | 3         |

[2015-07-05 21:25] Arsderpnica opened #271 "When I "Save as HTML..." I'd to see two things"
## Margins defined via Flex-box
I've tested with a file that was exported from Markdown Preview as a HTML file and I noticed that the margins are fluid - stretching from end to end on the browser window when viewing the HTML file.

I played around with the <body> tag and added the following rules

[code]

as for .markdown-preview class, I took reduced the font-size from being 1.25em to just 1.0em

[2015-07-06 07:46] fojt-cz commented on #264
i saw this error very randomly

1, it happens after i open MD file in preview mode
3, close the editor
2, reopen the Atom and click on the tab with MD file

[2015-07-07 16:35] jessejoe commented on #207
Would also love to see this. Atom's markdown preview is awesome, but there's no way to clear this image cache that I can find.

[2015-07-07 19:05] Gabriel-p commented on #160
+1

[2015-07-07 19:14] Gabriel-p opened #272 "Preview pane should check if a pane already exists to the right"
Currently the preview can be viewed in two ways, depending on whether the *Open Preview in Split Pane* (what's with all the capitalized words?) option is selected or not:

1. using the same pane (option not selected)
1. opening a *new* vertical pane to the right (option selected)

The issue is that if an *existing vertical pane is already present to the right*, the package doesn't realize this and

[2015-07-09 02:37] gdbdzgd opened #274 "can markdown-preview add a option auto scroll with cursor?"
no is like this:
![screenshot-not-scall](https://cloud.githubusercontent.com/assets/734458/8586851/427d171e-2626-11e5-9f2b-81a1537a8b19.png)

i think  add a option can auto scroll with cursor like this is better!
![screenshot-5](https://cloud.githubusercontent.com/assets/734458/8586858/698465ec-2626-11e5-8154-c9e1b1608403.png)

[2015-07-09 02:40] mnquintana commented on #274
This is a duplicate of https://github.com/atom/markdown-preview/issues/24 – please subscribe there for updates.

[2015-07-09 02:40] #274 closed

[2015-07-10 17:46] alittlerabbi opened #276 "Style declarations affect the atom editor when markdown preview is active"
Entering style data in the file being previewed appears to affect the whole editor.
Please see the attached image.

[code]

![editor_affected](https://cloud.githubusercontent.com/assets/12688631/8624842/e7c3e3dc-2708-11e5-872a-0e61115e79a6.jpg)

[2015-07-10 19:16] 50Wliu commented on #276
Confirmed on Atom 1.0.2, Windows 7 x64, One Light UI.

[2015-07-14 03:40] simurai commented on #276
I can reproduce it as well. Kinda cool, but not really.

@alittlerabbi What's your use case? You could wrap it with ``` backticks so the `<style>` renders as a code block.

![screen shot 2015-07-14 at 12 34 06 pm](https://cloud.githubusercontent.com/assets/378023/8665925/b2179a34-2a24-11e5-8121-1e15da6010d2.png)

Or do you want it to look like plain text without actually being rendered as HTML?

O

[2015-07-14 08:34] simurai commented on #267
I think `<hr>`s got hidden by mistake.

@pradyunsg thanks for catching that, should be fixed in the next update of the One themes.

[2015-07-14 08:34] #267 closed

[2015-07-14 18:05] ntotten opened #277 "Presence of markdown characters inside inline HTML breaks renderer"
When special markdown characters are present inside of HTML blocks the rendering of the inline markdown preview breaks and is not present in the remaining portion of the document. You can see this in the screenshots.

With `*` and `_` characters:
![](https://www.dropbox.com/s/k8xe1oiu7utr0kh/Screenshot%202015-07-14%2010.57.52.png?dl=1)

When the markdown characters are removed.
![](https://www.dro

[2015-07-14 18:13] ntotten commented on #277
Just realized this is an issue with the language, not this package. https://github.com/atom/language-gfm/issues/44

[2015-07-14 18:13] #277 closed

[2015-07-14 19:06] tlindsay commented on #234
+1

[2015-07-16 04:14] alittlerabbi commented on #276
Could be that in use it was not understood what *markdown-preview* means (practically). Seemingly, it's likely not meant to affect the whole editor.

[2015-07-16 14:35] stevekuznetsov commented on #197
Having the same issue as above, ~200 line file, many code blocks. Restarting Atom helps a bit but only temporarily. Unfortunately I have no choice but to abandon this editor because this is just completely unuseable for the document.

[2015-07-18 17:46] josh-egan opened #279 "Syntax highlighting incorrectly highlights underscores"
Here's an example:

[code]

When the above markdown is compiled, it is not italicized, but the syntax highlighter incorrectly colors the text as if it were italicized.

[2015-07-20 18:21] kevinsawicki commented on #94
This isn't something likely to be added to the markdown preview package, it seems more like a potential autocomplete-plus extension specifically targeting images, closing it out here.

[2015-07-20 18:21] #94 closed

[2015-07-20 22:19] kevinsawicki commented on #279
I believe this is a duplicate of https://github.com/atom/language-gfm/issues/44 which affects both bold and italic decorators.

[2015-07-20 22:19] #279 closed

[2015-07-20 23:55] kevinsawicki commented on #235
This looks like an issue with a corrupt update that was hopefully fixed by using asar in version 0.193 and above, closing this out.

[2015-07-20 23:55] #235 closed

[2015-07-22 17:09] iyerland opened #280 "Does not work on the Yosemite (Mac OS X)!"
ctrl-shift-m does not work!

[2015-07-22 17:26] mnquintana commented on #280
I can't reproduce this on Yosemite. We're going to need a lot [more information](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues) here. What version of Atom are you using? Can you reproduce this in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode)? (`atom --safe`)

[2015-07-22 18:52] iyerland commented on #280
Atom Version: 1.0.2
The markdown preview works in safe mode. Attached image in safe mode.
![atom_safemode_markdown](https://cloud.githubusercontent.com/assets/896628/8834264/2bc73ac6-3081-11e5-97b9-da52a29a8c8d.png)
But does not work in non-safe mode.

[2015-07-22 19:01] mnquintana commented on #280
Thanks for the update! If it works in safe mode, then this means that either a community package you have installed or your [init script](https://atom.io/docs/latest/hacking-atom-the-init-file) is the culprit. You can find out by selectively enabling / disabling packages until Markdown Preview works again. Since this isn't an issue with markdown-preview, I'm going to close this out.

[2015-07-22 19:01] #280 closed

[2015-07-22 20:31] cyranodesale commented on #153
I've been unable to install the pandoc preview package. No clue how to find a workaround on that.

[2015-07-23 10:23] iyerland commented on #280
My init script is empty. Disabled "Emmet" package and it worked!

[2015-07-24 01:03] ruffsl commented on #259
+1

[2015-07-24 01:03] ruffsl commented on #251
+1

[2015-07-24 10:17] DaveEveritt opened #281 "Definition list syntax not handled in preview"
Definition title
:definition description

appears as

Definition head :definition description

instead of

**Definition head**
  definition description

[2015-07-26 06:59] wf9a5m75 commented on #207
Please add a way to reload images.

[2015-07-27 12:17] iyerland opened #282 "todo list rendered incorrectly"
Atom v 1.0.2
Bug exists in safe mode too
Attached image
<img width="1113" alt="screen shot 2015-07-27 at 8 16 13 am" src="https://cloud.githubusercontent.com/assets/896628/8905867/dbd36c28-3437-11e5-9eaf-d0d5a1272cce.png">

[2015-07-27 12:23] mnquintana commented on #282
I can't seem to reproduce this with what looks to be the same text:

<img width="991" alt="md" src="https://cloud.githubusercontent.com/assets/823545/8905999/bb9028f6-3438-11e5-979b-ab8c9021fa0e.png">

Can you post a Gist of the exact text that causes this issue? What encoding are you using?

[2015-07-27 12:52] iyerland commented on #282
Encoding : utf-8
Gist: https://gist.github.com/iyerland/43b8e6d37b98d2fea0fe

[2015-07-27 18:23] jaboutboul opened #283 "Live updating is *very* laggy"
I'm experiencing an issue where the live preview is taking a few seconds to update after each change, which is a horror to get anything useful done.

I would love to help diagnose why this is happening? Does it have anything to do with the mini-map?

Either way, I've opened this file (52k) in sublime and it has no such issues.

Thanks

[2015-07-28 16:03] kevinsawicki commented on #282
Hmm, that Gist renders the same for me as the screenshot @mnquintana posted, I think this might be an issue with the theme you are using. Can you try using the default One Dark UI/Syntax themes and see if you still experience it?

[2015-07-28 21:20] iyerland commented on #282
@kevinsawicki So I switched to the default and tried it in the safe mode too. Bug still exists! I would assume/hope that it would work fine in the safe mode, but it doesn't!

[2015-07-28 21:21] iyerland commented on #282
Let me switch off (disable) the packages one by one to see if some other package is interfering with the functioning of this plugin. Thanks!

[2015-07-28 23:35] kevinsawicki commented on #92
A lot has changed in the last year and we've haven't seen other reports of this in awhile so I'm going to close it out for now. Please comment if you still see it happening on Atom 1.0+

[2015-07-28 23:35] #92 closed

[2015-07-31 16:15] kevinsawicki commented on #105
This appears to have been resolved somehow since it was reported, I'm no longer able to reproduce.

I'm going to close this out but please comment if you still see it happening on Atom 1.0.3+.

<img width="830" alt="screen shot 2015-07-31 at 9 14 20 am" src="https://cloud.githubusercontent.com/assets/671378/9011809/9e161f2c-3764-11e5-97e5-8954727ae80d.png">

[2015-07-31 16:15] #105 closed

[2015-08-04 14:44] erwald commented on #197
I'm having the same issue, also with many code blocks. Any updates on this?

[2015-08-04 14:46] erwald commented on #283
Do you have code blocks in the markdown file? If so, this seems like a duplicate of atom/markdown-preview#197.

[2015-08-05 15:22] jaboutboul commented on #283
Thanks. Looks like thats it indeed.

[2015-08-05 15:22] #283 closed

[2015-08-05 15:23] jaboutboul commented on #197
I am seeing this issue as well. @izuzak any updates?

[2015-08-05 16:35] izuzak commented on #197
Not that I know of, @jaboutboul, but thanks for asking. When there will be updates, you can expect a note to be posted here.

[2015-08-05 20:22] #270 closed

[2015-08-06 23:42] kevinsawicki commented on #6
Closing this out, this feels addressed by #240, being able to override these in your `~/.atom/styles.less`, and by markdown preview now using `<atom-text-editor>` elements to render code blocks.

[2015-08-06 23:42] #6 closed

[2015-08-09 12:12] pitops opened #284 "I have installed it but its not opening"
I am on a macbook pro v10.10.4 15inch latest model.

I click command+shift+m while i am in the readme.md file but its not opening anything

note that it works if i go manually in packages-> markdown preview-> and Toggle it ON

[2015-08-09 12:23] mnquintana commented on #284
The keybinding is <kbd>Ctrl-Shift-M</kbd>, not <kbd>Cmd-Shift-M</kbd> - does that work for you?

[2015-08-09 12:28] pitops commented on #284
i tried that as well, it doesn't work.

[2015-08-09 13:03] mnquintana commented on #284
Can you open the keybinding resolver with <kbd>Cmd-.</kbd>, enter <kbd>Ctrl-Shift-M</kbd>, and take a screenshot of what you see?

[2015-08-09 13:17] pitops commented on #284
Hmm it seems is has something to do with Emmet?
<img width="1440" alt="screen shot 2015-08-09 at 16 14 31" src="https://cloud.githubusercontent.com/assets/9624361/9155005/f4af5264-3eb1-11e5-817f-b4864e1035ad.png">

[2015-08-09 13:25] mnquintana commented on #284
Thanks for the update! Looks like a duplicate of https://github.com/atom/markdown-preview/issues/280.

[2015-08-09 13:25] #284 closed

[2015-08-09 14:41] pitops commented on #280
then what you suggest is not use emmet?

[2015-08-10 16:06] #264 closed

[2015-08-11 03:16] clkao commented on #248
`markdown-it` does seem to be a more flexible implementation.  we should also allow users to configure custom plugins used by markdown-it.

[2015-08-11 07:25] electricface opened #285 "Chinese characters appear as squares"
Chinese characters appear as squares

![20150811152326](https://cloud.githubusercontent.com/assets/3241440/9192355/f5d85ba4-403c-11e5-88db-2742c2fde030.png)

[2015-08-11 20:20] z5h commented on #282
I have this problem as well.
I think it has to do with wrapping.
 Try making the content of a todo very long, but keep it on a single line.

![image](https://cloud.githubusercontent.com/assets/81692/9209509/de729314-4044-11e5-818c-b7f3010cf125.png)

[2015-08-13 08:33] jessereynolds opened #286 "Horizontal scrollbars in fenced code blocks obscure text"
Atom 1.0.7
Mac OS X 10.10.4

When code blocks contain lines that are longer than the preview window a horizontal scrollbar appears. This obscures the last line of text in the code block.

Eg:

[code]

![atom markdown preview fenced code block horizontal scrollbar](https://cloud.githubusercontent.com/assets/391439/9245703/58dcb16a-41e5-11e5-90dc-763f6ee6ee12.png)

[2015-08-13 15:33] AaronV commented on #251
+1

[2015-08-14 15:04] JPomichael opened #287 "not using ctrl-shift-m"
not using ctrl-shift-m in windows 8.1

[2015-08-14 17:09] breschke opened #288 "Support for opening linked document when clicking link in markdown preview?"
I'd like to be able to write (relative) links to files and open these files in Atom by clicking links in the markdown preview.

[2015-08-14 20:38] serena-ahuja commented on #288
I initially had the same question as you! I figured out that it **is possible** to write relative intra-file links  in Atom. The links don't work in Atom markdown preview, but they do work on GitHub.com.

**This is an example of what I wrote to create a relative link:**

I wanted my relative link to go to a specific header called
[code]
The header is automatically given the anchor
[code]
*(note th

[2015-08-14 22:02] kevinsawicki commented on #287
Can you open the keybinding resolver using `ctrl-.` and then press `ctrl-shift-m` and see what command is being triggered for that keybinding?

Also, can you reproduce it safe mode? Completely quit Atom and then run `atom --safe` from the terminal

[2015-08-15 11:36] JPomichael commented on #287
Ok, i try.

From  iPhone

[2015-08-17 15:46] uncreativename opened #289 "Systematic way to convert multiple markdown files to html?"
Is there an API to this package that allows converting multiple markdown files to html via command line or through atom's GUI interface?

Maybe something like this: `atom-markdown-preview ~/markdown_files --output ~/html_files`

[2015-08-18 01:34] kevinsawicki commented on #286
/cc @simurai

[2015-08-18 06:27] abcfy2 commented on #238
Thank to @mingjunyang , it works.

[2015-08-18 09:48] danielvy opened #290 "CSS styles don't override correctly"
When trying to style a specific markdown document by applying a `<style>`, the preview doesn't override the styles properly.

Example:

<pre>
[code]

&lt;style&gt;
.markdown-preview pre.editor-colors {
  background-color: red;
}
&lt;/style&gt;
</pre>

This still renders the code with the default background color in markdown preview. If exporting the markdown to html and opening in the browser, the

[2015-08-18 10:33] mnquintana commented on #290
Overriding a Markdown document's style inline like that isn't supported as far as I know - if you want to customize the style you'll need to [use your `styles.less` file](https://atom.io/docs/v1.0.7/using-atom-basic-customization#style-tweaks).

[2015-08-18 10:53] danielvy commented on #290
But I don't want to change the style for all documents, just for a specific one.

Why is this marked "invalid"? It is a perfectly legitimate user scenario. If this is not a bug then it is at least a feature request.

And the inline style does work, it even outputs the html correctly when doing *'save as html'*, it just doesn't apply it correctly when previewing.

[2015-08-18 11:51] simurai commented on #286
PR #291 would just hide the scrollbars. Is that ok?

Couldn't find a way to add extra space since the `height` is inlined and probably just takes into account how many lines are rendered, but not if there is a vertical scrollbar or not.

[2015-08-19 05:09] simurai commented on #234
This seems to be the same issue as #286. The scrollbar is covering the single line.

[2015-08-19 05:17] simurai commented on #290
The markdown-preview uses an `atom-text-editor` for code blocks, but then when saved as HTML it's a  `<pre>`. To style both, you could try it like this:

[code]

[2015-08-19 08:57] jeffreya opened #292 "Freezing Atom and not opening"

[2015-08-19 15:14] adueck opened #293 "problem with <H*> tag conversion"
A space is required after hashtags to make the conversion for <H*> tags work. Normally this is not required for markdown converters.

input:

<pre>### this works</pre>

result:

<pre>&#60;H3>this works&#60;/H3></pre>

input:

<pre>###this doesn't work</pre>

result:

<pre>###this doesn't work</pre>

[2015-08-19 23:30] kevinsawicki commented on #293
This package uses https://github.com/chjj/marked to generate the HTML so you might want to open an issue there.

That is interesting, GitHub requires the space, what converters are you using that don't?

[2015-08-20 00:13] cakebake commented on #122
Added a new context menu to [cakebake/markdown-themeable-pdf](https://github.com/cakebake/markdown-themeable-pdf/) for context menu "Save As PDF" in markdown-preview pane.

![save-as-pdf](https://cloud.githubusercontent.com/assets/7462226/9372598/bc263e62-46e0-11e5-8244-4ab08f8e2f4f.png)

[2015-08-20 00:19] cakebake opened #294 "Tree-View context menu does not show"
Currently the context-menu does not appear in tree-view pane ... the DOM selector seems to stop working :(

Does not work for example: ```.tree-view .file .name[data-name$=\\.markdown]```

**Works**: ```.tree-view .file```

Somehow you can no longer reach the filename selector ```span``` inside ```ul > li```... I use in a package basically the same selectors and had no success.

[2015-08-20 20:59] hemraker commented on #293
Hey there
I'm experiencing the same issue. Github does __not__ require the space.

<img width="1024" alt="screen shot 2015-08-20 at 22 56 30" src="https://cloud.githubusercontent.com/assets/3663619/9395446/d8314e0e-478e-11e5-9cb5-ad3554266458.png">

Same file with markdown-preview:
![image](https://cloud.githubusercontent.com/assets/3663619/9395264/c7482dca-478d-11e5-8b0a-32e74c25421b.png)

[2015-08-21 07:08] markuskonrad commented on #293
For me it looks like a GitHub feature. Based on Grubers [original dokumentation] (http://daringfireball.net/projects/markdown/syntax#header), the whitespace is requried.

Also GitHub describes that in their [markdown-basics](https://help.github.com/articles/markdown-basics/).

[2015-08-21 07:30] hemraker commented on #293
They certainly have a space in the example :smile:

But it is not specific to Github, many markdown editors/parsers support it such as WMD (stack overflow), StackEdit and MacDown.

[2015-08-21 10:46] Galadirith commented on #294
@cakebake I've raised an issue with the `tree-view` devs https://github.com/atom/tree-view/issues/555 and they're already looking in to it :D

[2015-08-21 11:50] varunyellina commented on #287
I'm unable to activate the preview using `ctrl-shift-m` on OSX using **Atom 1.0.7** and **markdown-preview 0.150.0**.

On the contrary using the menu item `Packages > Mardown Preview > Toggle Preview` works without issue.

[2015-08-21 11:55] varunyellina commented on #287
Update: I just used the Key Binding Resolver on Mac using `Cmd - .`. I've the Emmet package installed which is overwriting `ctrl-shift-M`

Since this not technically an issue with your package, could you suggest me on how to solve this. I would like to keep the emmet shortcuts unchanged.
Thank you.

Regards
Varun

[2015-08-21 11:58] saschagehlich commented on #294
It's fixed already, it just needs to be reviewed:

https://github.com/atom/tree-view/pull/556

[2015-08-21 13:56] cakebake commented on #294
Thanks for the info :)

[2015-08-21 22:08] rajohns08 opened #295 "Make preview white background"
I'd prefer if my preview had a white background instead of adhering to my dark theme. Is this possible? When I Ctrl+Shift+M it is dark by default.

[2015-08-21 22:34] mnquintana commented on #295
It is! Try setting "Use GitHub.com style" for markdown-preview:

<img width="478" alt="settings_-__users_machistequintana_code_campus-map_-_atom" src="https://cloud.githubusercontent.com/assets/823545/9420402/3eaf5f64-4833-11e5-89d9-6cf989d00603.png">

[2015-08-21 22:34] #295 closed

[2015-08-23 10:56] shawninder commented on #197
In the meantime, you can work around this issue by removing live reload from the package's settings. You'll need to save the `.md` file to see the preview, but at least you get rid of the slowness while you're typing, which is the real killer.

[2015-08-23 10:58] danielvy commented on #178
This issue is still present.

Atom 1.0.7
markdown-preview 0.150
Mac OSX 10.10.5

[2015-08-23 10:59] danielvy commented on #290
@simurai
Your workaround does work. Thanks.

[2015-08-24 18:19] cjpoor commented on #133
Yes. Please support CommonMark in Atom.

[2015-08-27 18:51] rugk opened #296 "Black/dark design?"
I'd like to use a black design for the markdown preview. (otherwise this is just a too strong contrast)

I've tried it with this simple CSS tweak, but it does not really looks such nice and it seems I have to adjust much more:
[code]

E.g. tables are still white and I don't really need such a dark black.

In https://github.com/atom/markdown-preview/issues/293#issuecomment-133168760 I've seen @hemr

[2015-08-27 19:15] hemraker commented on #296
I use `One Dark` Ui and syntax theme. Simple as that :)

![untitled-2](https://cloud.githubusercontent.com/assets/3663619/9530525/abc7c0c4-4d00-11e5-8df9-bef9e0846377.png)

[2015-08-27 19:25] rugk commented on #296
Strange. I've also used One Dark syntax but another UI theme.
So after changing both to One Dark it worked (obviously), so I've tried and changed the UI theme back (leaving one dark as syntax like it always was) and it stayed dark... :confused:

So I've changed the (build-in) syntax themes again and even the 'light' themes always displayed a dark background (although the quote part was light now).

[2015-08-27 19:33] hemraker commented on #296
That sounds very likely. I don't think changing the overwrites the css you've written in styles.less but to be honest I haven't played too much around with it as I've been really satisfied with One Dark.

[2015-08-27 19:42] rugk commented on #296
Ehm... you're right, yes.
Just noticed that I still had the overwrites in my stylesheet... Dump... :hear_no_evil:

Now it looks better, but it seems that the UI theme is important. Only with Atom dark it was dark. With One dark it wasn't.

[2015-08-27 19:49] rugk commented on #296
And this really does not look nice:
![markdownpreviewdesigntest](https://cloud.githubusercontent.com/assets/11966684/9531268/61685caa-4d05-11e5-977e-37011472cdce.PNG)
(code: https://gist.github.com/rugk/099e2b793d907c9ee46e)

[2015-08-27 19:53] hemraker commented on #296
I couldn't agree more :smile:
Seems that **UI** influences menus, toolbars and markdown-preview **Syntax** is just the editor.

Glad you got it fixed!!

[2015-08-27 20:00] rugk commented on #296
Well... fixed. I still do not want to use the One dark.

But I've now opened an issue at the UI repo: https://github.com/atom/atom-dark-ui/issues/50

[2015-08-29 01:06] simurai commented on #296
I think it's worth trying to make this package adapt to the syntax colors. Then not every theme has to do the same.

[2015-08-29 09:13] rugk commented on #296
Okay, so back here.
Just make sure to not override [this option] (https://github.com/atom/markdown-preview/pull/240).

[2015-08-29 12:34] mujde commented on #293
Thanks for the interest in this. Just for information's sake: I had been using markdown with Jekyll, and have never used the space, so it kind of threw me off at first. But yes, could very well be required with other converters.

[2015-08-30 12:13] ericoporto commented on #244
When in a list, (with `1. ` or  `* `), you can place a code block inside and item by inserting a new line and then indenting with **8 spaces** . BUT in the **Markdown Preview**, it uses 8 spaces for the first new line and 7 spaces for the following lines.

[2015-08-31 03:50] jasenc opened #297 "Feature Request: Auto Scroll"
I doubt this belongs here but I don't know where else to put it.

I don't know how crazy of a task it would be to implement having the preview pane be scroll locked to the markdown file but I think that would be a great feature. I'm not sure how much help I could be but I'm more than willing to help out if someone could get me pointed in the right direction.

[2015-08-31 04:18] mnquintana commented on #297
Thanks for the suggestion! This looks like a duplicate of https://github.com/atom/markdown-preview/issues/24 though – please subscribe there for updates.

[2015-08-31 04:18] #297 closed

[2015-09-01 14:26] simurai commented on #296
Yes, that should stay.

WIP:

![screen shot 2015-09-01 at 11 24 48 pm](https://cloud.githubusercontent.com/assets/378023/9606844/c832264c-5100-11e5-9f50-f3ace4c52031.png)

[2015-09-02 00:04] leipert commented on #293
The [CommnMark](http://commonmark.org/) Specification also says, you should have a space, to avoid stuff like this:

[code]

[2015-09-02 00:05] ianbytchek commented on #207
:+1: This is pure pain. Could the same solution be used as mentioned in the above issue from markdown preview plus repo?

[2015-09-02 00:09] leipert commented on #289
Yep, have a look at http://pandoc.org/ or markdown-it https://github.com/markdown-it

It now depends, whether you want to merge the HTMl files or not:

[code]

[2015-09-02 00:16] leipert commented on #248
Have a look at [Markdown Preview Plus][mpp]. It uses markdown-it. It now uses markdown-it and markdown-it-math, but our goal is to support as many of pandocs features as possible with markdown-it.

We also want to look into the extensibility by the user (maybe add hooks or something like that, so that the user can use own plugins).

You can also use pandoc instead of markdown-it, if you want.

Dis

[2015-09-02 00:21] leipert commented on #20
Have a look into [markdown preview plus](https://atom.io/packages/markdown-preview-plus), which supports mathjax.

Disclaimer: I am a maintainer of markdown-preview-plus.

[2015-09-02 01:55] nathansobo commented on #248
Excited to see the `-plus` process at work with markdown-preview. Best wishes.

[2015-09-02 10:40] hemraker commented on #293
@leipert : I agree, the space is best practise but not supporting a thing that is used widely AND is supported by many converters seems like a shortcoming. If you don't get the correct preview then it is not really a preview.

I had to switch to another package because markdown preview doesn't give a correct representation of the files I'm working with.

[2015-09-03 11:44] hrafnkelle commented on #247
Seeing this issue as well

[2015-09-04 16:00] leipert commented on #265
@cbowns
This package actually does no syntax highlighting, the package you are looking for is language-gfm and the issue is described here:
https://github.com/atom/language-gfm/issues/44

You can try my package [language-pfm](https://atom.io/packages/language-pfm)
which renders your example fine:
![screen shot 2015-09-04 at 17 59 59](https://cloud.githubusercontent.com/assets/2906107/9688329/cb376

[2015-09-04 19:39] 50Wliu commented on #265
Thanks, @leipert!  Closing as a duplicate of atom/language-gfm#44.

[2015-09-04 19:39] #265 closed

[2015-09-07 01:26] claman opened #299 "Add support for CriticMarkup?"
[CriticMarkup](https://github.com/CriticMarkup/CriticMarkup-toolkit) and Markdown seem to go together pretty well. Would it be possible to add support for CriticMarkup to the previewer?

[2015-09-07 04:15] mindware opened #300 "Feature: Full window"
Is there anyway to see the current markdown preview as a full tab instead of seeing it as a split one? Is there any "full-window" mode?

[2015-09-07 06:36] thomasjo commented on #299
Since CriticMarkup is not a flavor of Markdown, this should be implemented as a separate package. This is the same reasoning behind [not adding CrititMarkup support](https://github.com/atom/language-gfm/issues/73) to language-gfm.

Perhaps this would be a good time for a community effort around a generic preview package concept ala autocomplete-plus, linter, etc. Essentially a service-backed previ

[2015-09-07 06:36] #299 closed

[2015-09-07 07:22] lee-dohm commented on #299
I opened an enhancement suggestion for a viewer infrastructure that covers what I believe @thomasjo is suggesting https://github.com/atom/atom/issues/6817

[2015-09-07 09:02] thomasjo commented on #300
Navigate to the markdown-preview settings, and uncheck `Open Preview In Split Pane`

<img width="680" alt="settings_-__users_thomasjo_uni_-_atom" src="https://cloud.githubusercontent.com/assets/3622/9713147/c3b767be-554f-11e5-995c-b13bf77f68d2.png">

[2015-09-07 09:02] #300 closed

[2015-09-07 21:19] asantos3 opened #301 "Add support for email, links starting with www and other protocols in url autolinking"
Currently there isn't support for email and links starting with www. There's also no support for other protocols outside of http and https.

Invalid links

[code]

Valid links

[code]

[2015-09-08 02:11] mindware commented on #300
Thanks a lot for the response. It's great there's a setting I'm really enjoying the plugin. It would be awesome if we could use a short-cut command to go into either split plane or full window, instead of having to manually modify the settings each time.

[2015-09-08 06:05] gsklee opened #302 "useGitHubStyle is not 100% accurate"
Compare the screenshots:

Atom
![http://i.imgur.com/NNH3lxi.png](http://i.imgur.com/NNH3lxi.png)

GitHub
![http://i.imgur.com/LyD4qka.png](http://i.imgur.com/LyD4qka.png)

[2015-09-09 14:56] coopie commented on #282
I am pretty sure the problem occurs when the text wraps, as z5h said

[2015-09-09 18:37] izuzak commented on #224
Closing this since no other information was provided and there's a linked issue with examples of customizing the styles. @chaosink let us know if you have any questions or want to clarify your request.

[2015-09-09 18:37] #224 closed

[2015-09-10 01:23] chaosink commented on #224
I'm sorry for not leaving more information. Thanks for the answer so much!

[2015-09-16 08:33] kurtzhong commented on #285
Any updates on this issues, this make me to write documentations in English, but sometimes I have to read/write in Chinese.

[2015-09-16 08:54] kurtzhong commented on #238
@mingjunyang  Thanks. Adding the custom style does solve my issue on `v1.0.11` on Fedora 22:
[code]
But first ensure the fonts mentioned is installed using:

[code]

[2015-09-16 13:08] mnquintana commented on #285
This looks like a duplicate of https://github.com/atom/markdown-preview/issues/238 – closing this out in favor of that issue.

[2015-09-16 13:08] #285 closed

[2015-09-17 15:01] bojidar-bg commented on #85
+1!

[2015-09-18 01:57] mingjunyang commented on #238
News!!!
Today,I update atom and I remove the file `~/.atom/style.less`,maybe it's okay.
[code]

[2015-09-18 01:59] 50Wliu commented on #238
Can anyone else try updating to Atom 1.0.12 or above and seeing if that fixes their issue?  Thanks.

[2015-09-18 02:05] 50Wliu commented on #238
Going to close this since it should have been fixed in Atom 1.0.12 and above.  If you're still experiencing this even on Atom 1.0.12, please comment below.

[2015-09-18 02:05] #238 closed

[2015-09-18 02:33] abcfy2 commented on #238
Yes, it's fixed since 1.0.13. I've upgraded to the latest new version, and this issue fixed.

[2015-09-19 10:41] rugk opened #303 "Some display issues"
A cursive text with underlines is displayed wrong:
**GitHub:**
_cursive_text_
[source](https://gist.github.com/rugk/ba7ccfe28fa8535ec1b6)
**Package:**
![cursive](https://cloud.githubusercontent.com/assets/11966684/9975819/4d0ce7e4-5ecb-11e5-8a25-62ad257a6ffc.PNG)

PHP is only rendered with `<?php` which is bad if you want to display just some php snippets. So syntax highlighting in markdown files

[2015-09-19 11:37] rugk opened #304 "HTML linter error on output"
![linterhtmlerror](https://cloud.githubusercontent.com/assets/11966684/9976016/8bda1854-5ed3-11e5-83eb-ec8981336042.PNG)

[2015-09-19 11:43] rugk commented on #296
The screenshots already look very promising. Any news here?

[2015-09-19 13:24] rugk opened #305 "Does not link referred links correctly"
Because of https://github.com/slang800/atom-tidy-markdown/issues/20 I referrer linked a link in an markdown file and it was not linked correctly in the resulting HTML code. It was just linked to `1` if the code is e.g. like this:

[code]

[2015-09-21 17:45] pydolan commented on #302
I also noticed that if the Atom setting "Scroll Past End" is enabled, this scrolling feature is enabled in the Markdown Previews' code blocks, even if "Use Github Style" is enabled. I suspect the fix for the above will address this issue, but probably worth confirming too.

[2015-09-22 04:43] simurai commented on #302
@pydolan The "Scroll Past End" issue is because code blocks currently use an instance of the main `atom-text-editor` which also respond to changes in the settings.

I think to make code blocks 100% GitHub style, they would need the same markup (with `pre code`) so the `.highlight` styles work. Not sure what GitHub uses for the syntax highlighting, Pygments maybe?

[2015-09-22 04:57] simurai commented on #302
The initial issue (table header being dark) seems to be caused by One dark. We could force it to be transparent when enabling "Use Github Style", but it should be fixed when #298 gets merged and One dark doesn't need any overrides.

[2015-09-22 05:02] #302 closed

[2015-09-22 05:03] simurai commented on #302
Actually, fixed it in One dark for now.

[2015-09-22 05:30] simurai commented on #244
Carried over from this comment https://github.com/atom/markdown-preview/issues/302#issuecomment-142180584

I think to make code blocks 100% GitHub style, they would need the same markup (with `pre code`) so the `.highlight` styles work. Not sure what GitHub uses for the syntax highlighting, Pygments maybe?

Using `pre code` instead of `atom-text-editor` might also fix issues with "scroll past end"

[2015-09-23 05:53] #296 closed

[2015-09-23 07:08] simurai commented on #296
@rugk Ok, this should be in the next release.

[2015-09-24 12:43] pkeir commented on #85
+1

[2015-09-24 12:43] ChrisChinchilla commented on #128
@izuzak

Hi, I was going to report a similar 'bug'. What's your progress with this? I would happy to have a try at fixing this if you could point me in the general direction of what code generates the code export.

[2015-09-24 12:47] izuzak commented on #128
I haven't looked at this issue beyond reproducing it.

I wish I could do that -- but I don't know. Maybe someone else from the @atom/feedback can help?

[2015-09-25 07:52] bigyuki opened #306 "Blockquote trigger preview scroll"
I found that if there is a blockquote in my markdown conntent the preview will auto scroll up a little.
But if i delete the blockquote, everything is ok.
Here is my screen shot.
![fdsf](https://cloud.githubusercontent.com/assets/1812489/10095580/6ba69a98-639d-11e5-8a97-8dcee796a59d.gif)

[2015-09-26 14:30] rugk commented on #296
Nice... :+1:

[2015-09-26 15:01] rugk commented on #305
Okay, maybe that's the same as https://github.com/atom/markdown-preview/issues/153

If you agree you may close this issue.

[2015-09-26 15:08] rugk commented on #153
:+1:

[2015-09-26 15:12] rugk commented on #305
Okay, after reading #153 again I saw that it's not exactly the same, but it's similar.
The difference is: Referring links is included in the basic markdown specification and no special feature of some implementations.

[2015-09-26 15:41] rugk opened #307 "PHP snippets should be syntax-highlighted"
I feel like I already created an issue in this or another repo, but I cannot find it, so here is a new one:

The problem is the PHP syntax highlighting acts the same in the ``` code tags of markdown.
And as PHP normally requires `<?php` at the top text without `<?php` is not syntax-highlighted.
However as you mostly only use snippets of PHP in markdown files and not whole markdown files it's quite

[2015-09-29 05:37] jtHwong opened #308 "preview function not work in Mac OSX"
hello, when i use the plugin in mac, the preview function don't work.

[2015-09-29 05:51] izuzak commented on #308
Works for me. Can you provide more information? Which version of Atom are you using, which version of OSX, can you reproduce this in [safe mode](https://atom.io/docs/latest/hacking-atom-debugging#check-if-the-problem-shows-up-in-safe-mode), which steps _exactly_ reproduce the problem for you? Happy to reopen if you can share more information.

[2015-09-29 05:51] #308 closed

[2015-09-30 14:08] mcleary commented on #244
Maybe this is a silly question but on Mac why the option to use GitHub style does not appear?

[2015-09-30 14:18] simurai commented on #244
@mcleary Are you able to see the rest of the package settings? It should be the last option:

![screen shot 2015-09-30 at 11 16 33 pm](https://cloud.githubusercontent.com/assets/378023/10195630/8fd2628c-67c9-11e5-8b13-9f05368e7f6e.png)

[2015-09-30 14:23] mcleary commented on #244
Oh, shame on me!.

The reason that I made this question is I was looking for a way to preview with a darker background.

I thought the solution would be active the GitHub Style option but later I see a way to customize the previewer CSS. Is the recommended way of doing so?

[2015-09-30 14:29] simurai commented on #244
Preview with darker background already got merged #298 but it isn't released yet.

If you wanna make small changes, you can do them in your `styles.less` file. For example:

[code]

[2015-09-30 14:31] mcleary commented on #244
Thanks, already did that.

I'll wait for #298 release.

[2015-10-01 05:32] ianbytchek commented on #245
I've noticed this a while ago, thought was just a glitch, but it's still present. And it is super annoying. See below, it does resize the code correctly, it gets displayed as it should, but when scrolling over it there is an extra 50-75% height hidden in that box.

![atom](https://cloud.githubusercontent.com/assets/1086845/10213482/63d4d532-6816-11e5-8411-b2fa1ff4173e.gif)

Could this be related t

[2015-10-01 05:36] ianbytchek opened #309 "Wrong tab size?"
Maybe I'm confusing something with something, but it seems the plugin uses wrong tab sizes? I have it configured to 4 spaces, below it renders 2 tabs instead of one. Am I wrong? Am I not?

![image](https://cloud.githubusercontent.com/assets/1086845/10213555/66338304-6817-11e5-9927-83d4e4aeaf88.png)

[2015-10-01 11:03] synthecypher opened #310 "Static compilation via gulp?"
I want to generate a bunch of static documentation as `.html` files at the moment I'm using `gulp-markdown` but it doesn't produce an output as nice as `markdown-preview` with the GitHub stylesheet and the pygments syntax highlighting.

[code]

I can however manually save the preview of the markdown as a `.html` but I'd have to do that manually every time I update documentation, and for every file

[2015-10-01 11:39] maasha opened #311 "Github internal links not shown correctly"
`[[Internal_link]]` is displayed literally. It would be nice with a setting to accept Github specific markdown.

[2015-10-01 16:50] medfreeman commented on #85
+1

[2015-10-01 20:48] emiola commented on #197
Removing the live reload doesn't help much, because also the update on save is slow (3-4 seconds on a file of ~1k lines). It's in fact the save operation that looks slow. This is not usable.

[2015-10-03 04:45] forthright48 commented on #85
+1

[2015-10-06 09:22] ITler opened #312 "External API"
I would like to use the capabilities of this plugin from outside atom (e.g. shell command), like

    markdown-preview-api -in file.md -type html -out file.md.html

The outputted file should respect the plugin settings, so that it looks same like preview in atom. Is this possible?

[2015-10-07 08:52] demiurgosoft opened #313 "CSS applied out of markdown preview document"
Atom 1.0.5
Markdown preview 0.150

Markdown preview renders html and css, in most cases this works properly (in the example below we use inline css to render paragraphs of out MD:
![capture1](https://cloud.githubusercontent.com/assets/5960567/10332316/bfc1d582-6cdc-11e5-9559-24bd730068ac.png)

However, I noticed that Markdown preview rendering affects the atom interface itself, when applying a rul

[2015-10-07 11:48] 50Wliu commented on #313
This is a duplicate of #276, please subscribe there for updates.

[2015-10-07 11:48] #313 closed

[2015-10-08 09:33] liuderchi opened #314 "Handle Internal Links to Header in preview tab"
- Environment： Atom v1.0.19  win7x64
  - Additional to previous [*relative link issues*] (https://github.com/atom/markdown-preview/issues/85 ""), *Markdown Preview* tab **supporting in-page navigation through headers** would be great.
  - example works fine with *ST3 Markdown Preview* Package :
[code]

  - related screenshot
![issue_markdownpreviewsuportinline_link](https://cloud.githubusercontent

[2015-10-09 03:13] thomasjo commented on #312
This will never be directly supported by this package, since it just that, a package.

You might be able to make a minimal executable wrapper that spins up an Atom background process, interacts with this package and yanks resulting markup. Not impossible, but likely not worth the effort.
You'll better off simply using an existing markdown solution meant to be executed as a command line tool, or us

[2015-10-09 03:13] #312 closed

[2015-10-09 15:08] sander76 commented on #207
+1

[2015-10-10 21:38] billglover commented on #301
This appears to be a limitation of the underlying marked package that is used by roaster.

[2015-10-12 05:19] mattbell87 opened #315 "Long single-line code block causes content to be cut off"
I've noticed that if you have a single line of text that's too long for the window, it causes a horizontal scrollbar to appear. Because it's only a single line it appears there is not enough room to fit the vertical scrollbar, so it just causes the content to be cut off.

Tested on OSX and Ubuntu:
![screen shot 2015-10-12 at 4 09 10 pm](https://cloud.githubusercontent.com/assets/2722612/10421834/f

[2015-10-12 05:52] mattbell87 commented on #315
Just realised after some thorough searching there is already a bug filed for this:
https://github.com/atom/markdown-preview/issues/234

[2015-10-12 05:54] mattbell87 commented on #234
+1, This behaviour also happens on Linux and OSB builds.

[2015-10-12 10:45] izuzak commented on #315
Yep, let's keep the feedback in that issue -- closing this one. :v:

[2015-10-12 10:45] #315 closed

[2015-10-12 15:23] izuzak commented on #309
@ianbytchek Can you share the _exact_ steps to reproduce this, together with the source of the file which (when rendered) triggers the problem? That should help us understand what you're reporting and also reproduce the problem. Also, which version of Atom are you using?

[2015-10-12 19:17] ianbytchek commented on #309
@izuzak using the latest version, 1.0.19. Consider the following code. The preview shows double tab space, while editor shows one tab space as per configuration.

[code]

![image](https://cloud.githubusercontent.com/assets/1086845/10436388/bd63927a-712e-11e5-8a56-a5defff34aee.png)

[2015-10-13 08:24] izuzak commented on #309
Thanks -- I'm seeing that behavior now as well. I think that could be improved. :+1:

[2015-10-13 10:12] #294 closed

[2015-10-13 18:18] erlendr commented on #197
Same issue as well.

[2015-10-13 22:05] benogle commented on #122
Note that there are printing APIs in electron now: http://electron.atom.io/docs/v0.33.0/api/web-contents/#webcontents-print-options

Though might be tricky to just print the contents of the tab with all the correct styles (not the entire UI)

[2015-10-14 08:21] alexrussell commented on #122
@cakebake thanks for the heads-up on your package. I have installed it and will give it a test soon. Looks to be exactly what I want. And the bonus is (or at least seems to be) I can style the HTML how I want for the PDF and have it completely different to the HTML preview in Atom, which means I don't have to worry about the weird uses-your-theme issues with markdown-preview.

The only thing I'm s

[2015-10-14 09:15] cakebake commented on #122
@benogle The API is quite simple and effective. Unfortunately, I had problems to realize a header and footer. It is currently not available for me.

@alexrussell Yes, the package renders the Markdown autonomous and independent of the current atom theme. If you have problems with your documents and I can improve the package, feel free to [open an Issue](https://github.com/cakebake/markdown-themeabl

[2015-10-15 16:08] gordontyler commented on #245
I'm having this problem as well. When I turn off the "Scroll Past End" option in the Atom Settings, the problem disappears.

[2015-10-15 20:24] tkent commented on #85
+1

[2015-10-19 11:48] mpvillafranca opened #318 "CSS Injection"
If you write something like

[code]

this affects to Atom GUI too, maybe it's something you could fix... or maybe not...

[2015-10-19 11:50] 50Wliu commented on #318
Duplicate of #276, please subscribe there for updates.

[2015-10-19 11:50] #318 closed

[2015-10-20 11:15] dsifford commented on #245
+1

[2015-10-21 13:48] Announcement opened #319 "Feature Requests: Smarty Pants"
Can we have a better implementations like RedCarpet's smarty pants or more professional github flavored markdown. Right now it's ugly and featureless. Maybe tables would be nice too etc.

[2015-10-21 17:31] jumpkick commented on #197
It is pretty awful on my MBP 2015, to the point where the system asked me if I should kill the atom window while waiting for the save dialog to open. I'm working with a file that's only 150 lines of markdown...

Switched to using Markdown Preview Plus (MPP), that seems less laggy so I'll have to see how it does when Atom has been running for a while.

[2015-10-26 03:18] jacktan1991 commented on #99
+1 request for an elegant solution, that's why i choose Atom!!

[2015-10-28 09:02] Ativerc opened #320 "Does not show text within angle brackets <>"
Error/Bug Explanation
----
I was editing a markdown file on Atom and I noticed that the default markdown-preview package was not showing text within angle brackets.

Entered `git add <file name>` and the output was `git add`.

Cross-checking
----------

1. I went to dillinger.io and entered the same input there but the output was `git add <file name>` which I presumed to be correct way to display

[2015-10-29 07:35] lifeiscontent opened #321 "Keybinding doesn't work to toggle markdown preview"
On Windows 10
with version 1.0.19

when trying the keymap <kbd>ctrl</kbd> + <kbd>shift</kbd> + <kbd>m</kbd>

this doesn't trigger the markdown preview like the docs say.

[2015-10-29 07:36] izuzak commented on #321
Please include a screenshot of the keybinding resolver, as I asked in the other thread. Happy to reopen when you do.

https://atom.io/docs/latest/hacking-atom-debugging#check-the-keybindings

[2015-10-29 07:36] #321 closed

[2015-10-29 07:51] ITler opened #322 "Settings for theme"
When doing `Save as HTML` the resulting HTML's style reflects the theme settings of my *atom* editor. Although I'd like to use default dark theme in atom editor, I would like to have exported HTML files in another style (obviously light).
My inconvenient work-around is to temporarily switch UI-Theme and Syntax-Theme, exporting to HTML and switch back.
A better approach would be, if one could add 2

[2015-10-29 12:51] thedaniel commented on #322
The "Copy as HTML" command will copy the HTML entirely unthemed, is this more useful to you?

[2015-10-29 13:36] ITler commented on #322
Good idea, thank you, but not that what I would like to see.
The doctype, html, body tags and head tag for setting charset (UTF-8 taken from atom settings) are missing. Tables have no borders. It is to less style here. And it takes even more manual rework than the work-around I've initially described.

That's why I'd like to file my initial request as enhancement.

[2015-10-30 05:45] litaotao opened #323 "can not preview photo ?"
when use `ctrl + shift + m` to preview markdown in atom, it seems that the picture cannot be rendered.

<img width="838" alt="screen_shot 2015-10-30 at 1 43 51 pm" src="https://cloud.githubusercontent.com/assets/4660350/10839237/5127f0ce-7f0c-11e5-91b1-61a9922537f8.png">

[2015-10-30 10:21] izuzak commented on #323
Thanks for the report. I think you're seeing this issue: https://github.com/atom/markdown-preview/issues/146 because you're using relative links. Check that out. If I'm wrong, please provide more details about your problem and explain in what way it's different (also provide [more information](https://github.com/atom/atom/blob/master/CONTRIBUTING.md#submitting-issues)).

[2015-10-30 10:21] #323 closed

[2015-10-30 14:45] notaduck opened #324 "Performance issues"
Hello. I promised @as-cii to drop a CPU Profile here.
I am experince some bad performance when markdown-preview is in use. every time i type something atom will freze until the preview is fully updated again.

- i7-3610QM
- 8GB DDR3
- 250GB SSD

The document i am currently working at is ofcourse a markdown .md file with

- 232 lines
- 6059 characters

[2015-11-01 18:18] notaduck commented on #324
This is the file I am having touble with @as-cii

# Setup graylog2 - Centos 7
Graylog2 is a centralized log management system. It is based on Elasticsearch
and MongoDB, and are able to analyze and aggregate log messages from multiple sources.
I don't think it would be wrong to say that Graylog2 is one of the big players when
it comes to centralized log management systems.
It won't take you a long

[2015-11-02 13:03] ijwilliams opened #325 "Copying to clipboard no longer works"
When I select and copy formatted text from the previewer, it does not actually copy to my clipboard. This worked beautifully with Atom 1.0.19 and markdown-preview 0.150.0; however,with Atom 1.1.0 and markdown-preview 0.154.0, it does not. Confirmed on two computers.

[2015-11-03 13:17] rubencaro commented on #235
Should it be reopened?

[Enter steps to reproduce below:]

1. ...
2. ...

**Atom Version**: 1.1.0
**System**: "Fedora release
**Thrown From**: [markdown-preview](https://github.com/atom/markdown-preview) package, v0.154.0

### Stack Trace

Failed to load the markdown-preview package

[code]

### Commands

[code]

### Config

[code]

### Installed Packages

[code]

[2015-11-03 16:47] RadiationG0D opened #326 "Style-tags appear to leak into Atom"
I was using Atom to preview a very simple piece of html when I noticed that the following code:
`<style>
body {
   text-align: center;
}
</style>`

did not just affect my preview but the entire atom editor. I have attached two images, displaying the "before" and "after" cases.

Note the shift in position of the directory tree and that the contents of the "settings"-tab (not seen in the images) was

[2015-11-03 16:55] 50Wliu commented on #326
Duplicate of #276, please subscribe there for updates.

[2015-11-03 16:55] #326 closed

[2015-11-03 21:52] gdamore commented on #207
This totally breaks badges.    +1000!

[2015-11-04 01:13] dracodoc opened #327 "GFM Todo item bullet point misaligned with long lines"
If a GFM Todo line is wider than the preview window, the bullet point was shown on the last line of item instead of before the check box.

1. The correct way when the line is not too long
![1](https://cloud.githubusercontent.com/assets/1730496/10926660/43d53a7c-8267-11e5-8f76-f915cf8ba974.png)
2. When the line is wider, bullet point dropped to the last line
![2](https://cloud.githubusercontent.com

[2015-11-04 03:33] axefrog opened #328 "Open preview in opposite pane to where I'm working"
Being on a large monitor, I like to have my preview in the left pane, because then the code's left margin is directly in front of me, rather than off to the left. My feature requests:

* Option to split the preview into a left pane by default, rather than a right pane
* Option to open the preview in the opposite pane to that in which I'm working, for cases where I already have a left/right pane op

[2015-11-04 07:53] izuzak commented on #327
Thanks for the report, @dracodoc -- this seems to be a duplicate of https://github.com/atom/markdown-preview/issues/142 so I'm going to close this in favor of that issue. :v:

[2015-11-04 07:53] #327 closed

[2015-11-04 13:09] csbun opened #329 "image with base64 data not shown"
I wrote an image with base64 like:

[code]

markdown-preview make it to html

[code]

which we wish

[code]

[2015-11-05 02:13] dmorneau commented on #325
+1 - I tried both ctrl-c and the right-click menu, but it's impossible to copy from the preview now.

[2015-11-05 09:08] csbun commented on #329
I found one resolution is add these code in file [lib/renderer.coffee](https://github.com/atom/markdown-preview/blob/master/lib/renderer.coffee) after [line 88](https://github.com/atom/markdown-preview/blob/master/lib/renderer.coffee#L88)

[code]

[2015-11-05 12:14] The-Compiler commented on #254
I can confirm this:

![atom-md](https://cloud.githubusercontent.com/assets/625793/10967984/a8994892-83be-11e5-9937-e31543f44425.png)

This doesn't happen with other markdown implementations, e.g. here on GitHub:

[code]

[2015-11-05 13:21] linquize commented on #254
Still a problem in atom 1.1.0

[2015-11-05 18:37] benaguilar commented on #325
This broke the main use I had for markdown preview =(. Hope it gets resolved soon.

[2015-11-06 01:18] klorenz commented on #235
I am having the same issue.

It is a bit confusing, because the atom error notification makes me think that this issue is already reported  (well it is) and worked on, but it is closed for an earlier version of atom, so no one works on it.

[2015-11-06 07:30] XiaoSK commented on #287
Many thanks to @varunyellina . It works. But I preferred binding another key to `'markdown-preview:toggle'` instead of `'ctrl-shift-M'`.

[2015-11-06 12:02] simurai commented on #322
We could force the GitHub style when `Save as HTML`.

I think adding the `data-use-github-style` attribute to [this line](https://github.com/atom/markdown-preview/blob/master/lib/markdown-preview-view.coffee#L280) should do it.

Or maybe even better, make it the same as the settings.

[2015-11-06 14:39] 50Wliu commented on #287
Hey @JPomichael, if the steps listed by @varunyellina didn't work for you, please comment here.  Otherwise, I'm closing this.

[2015-11-06 14:39] #287 closed

[2015-11-06 22:50] lee-dohm commented on #329
In doing a little research on this, there is a security concern with just allowing *any* `data:image` scheme https://github.com/github/markup/issues/270

If people want to test this, here's a full example:

[code]

[2015-11-07 07:08] Netherdrake commented on #136
Missing TOC here too. Would love to use markdown to write my journal.

[2015-11-07 11:05] Netherdrake opened #331 "[Feature Request] Scroll the Preview in sync with Editor"
Mou does it, and its by far its best feature.
http://25.io/mou/

[2015-11-07 11:07] Netherdrake opened #332 "[Feature Request] Add support for Table Of Contents"
Suppose I have a TOC like this in my markdown file.

[code]

Can you please make it work in preview, so that when I click on the link, I get to that section of the page?

Thanks

[2015-11-07 11:38] thomasjo commented on #332
This is a duplicate of #136. Please add your comment to that thread instead.

[2015-11-07 11:38] #332 closed

[2015-11-07 11:39] thomasjo commented on #331
This is a duplicate of #24.

[2015-11-07 11:39] #331 closed

[2015-11-07 11:47] Netherdrake commented on #331
Locked and ignored. I guess markdown-preview won't do. Thanks anyway for all the hard work you guys have put into Atom, its a pretty cool editor.

[2015-11-08 15:00] chris2fr commented on #85
+1

[2015-11-08 18:25] andreasohlund opened #333 "Including text/markdown from external files in the preview"
I'm looking for a way to add support for pulling in text/markdown from external files and include that in the preview. What would be the best way to approach this?

### Background

The way we do documentation for NServiceBus is by storing our docs as markdown files in a GH repo and render that repo into a static site. As part of doing this we support the concept of including code snippets using th

[2015-11-09 09:02] SimonCropp commented on #333
The code for our snippets parsing is here https://github.com/SimonCropp/CaptureSnippets

[2015-11-09 17:23] lee-dohm commented on #333
Rather than adding a feature to markdown-preview that is custom tailored to one target usage, could you create a package that post-processes the Markdown file to perform the import and then previews that?

[2015-11-09 20:56] Morriz commented on #85
+1

[2015-11-10 12:14] andreasohlund commented on #333
I guess you are saying:

1. On save/preview generate a {filename}_preview.md markdown file somewhere
2. Tell markdown preview to preview that file instead?

Is that correct?

[2015-11-10 17:56] lee-dohm commented on #333
Yes, that's what I'm suggesting.

[2015-11-10 18:25] pixelchutes commented on #325
Also confirmed here for `atom@1.1.0`, `markdown-preview@0.154.0`.

No errors in console.

[2015-11-10 20:36] andreasohlund commented on #333
Ok, any pointers how to "trick" markdown preview to show the generated file instead of the one being edited?

[2015-11-11 23:58] dorkrawk commented on #101
So I'm seeing this issue again.

I can open a Markdown preview with `ctrl-shift-m`, but when I close it (with the same keystroke) the preview goes away but the pane stays.

Atom 1.1.0
OSX 10.11.1

[2015-11-12 10:01] ITler commented on #322
That wouldn't be the most flexible solution, but is the best compromise between effort and effect, hopefully leading to fast feature implementation.
+1

[2015-11-12 21:14] rugk commented on #322
Interestingly even if I temporarily select "Use GitHub.com style" and save the HTML file afterwards it saves it in my theme design.
This may be related to a general theme issue however: https://github.com/atom/atom/issues/9550

It is also interesting that the export function applies my custom font settings of Atom. At least this was the case for the `code parts` in a markdown file, whcih made them

[2015-11-14 14:56] lzyy commented on #325
confirmed for `atom@1.2.0`, `markdown-preview@0.156.0`

[2015-11-17 11:23] graehu commented on #305
@rugk  Try this instead:

    [link][1]
    [1]:http://www.google.com

You need to use square braces for annotated linking.

    [link](http://www.google.com)

The syntax for inline linking uses parenthesis

[2015-11-17 11:38] graehu commented on #85
+1 feels like this should be relatively easy, pun intended. Might have a look into it.

[2015-11-17 14:25] graehu commented on #70
This appears to save using the wrong CSS at the moment. If you have "Use GitHub.com style" ticked in the settings, it'll still use the CSS associated with your syntax theme.

[2015-11-18 09:45] rugk commented on #305
Works. You're right that's the correct syntax.

[2015-11-18 09:45] #305 closed

[2015-11-18 09:48] rugk opened #336 "HTML export: Add IDs for anchors"
It would be nice if you HTML export would also add IDs to every headline so you can link to the HTML file with anchors: `file.html#contributing`

[2015-11-18 10:03] rugk opened #337 "HTML export: Many unneccessary CSS added"
When exporting a MD file as HTML many unnecessary CSS parts are added.
Currently it seems to grab really every CSS style, which does not have to do anything with the markdown preview (e.g. minimap-codeglance):
[code]

[2015-11-18 10:08] rugk commented on #336
Just saw it already does this. :smile:

[2015-11-18 10:08] #336 closed

[2015-11-18 12:31] stasberkov opened #338 "Add Mermaid support"
Add Mermaid (http://knsv.github.io/mermaid/) support for Markdown like CuteMarkEd tool (https://cloose.github.io/CuteMarkEd/) has. It will allow drawing mermaid diagrams (sequence, flow, gantt, structure) from markdown. If implemented we could use only Atom for writing design documentation.

[2015-11-18 14:11] Xscratch opened #339 "HTML Export: use github style not applied"
When exporting a Markdown preview to HTML (Right-click in the preview panel > Save As HTML) the body tag is missing the attribute "data-use-github-style".

[2015-11-19 10:21] simurai commented on #339
There is a PR #335 for that. Still an issue with the spec at the moment.

[2015-11-20 15:25] danseely opened #340 "Remember preview window size"
This may be determined by core Atom settings and not accessible by the plugin, but I'd love to see the preview window remember it's size between being toggled. To recreate the unwanted performance:

  - open a `.md` file in Atom
  - toggle markdown preview on
  - slide the center slider so the markdown preview pane is larger than the editor pane
  - toggle markdown preview off
  - toggle markdown

[2015-11-21 07:36] mark-hahn opened #341 "New markdown-scroll-sync"
This should be on #24 but that has been locked.

It is well known that my package `markdown-scroll-sync` never worked as well as everyone wanted.  I just did a total rewrite that works much better and is less buggy.  It is `markdown-scroll-sync` version 2.0.1.

@mnquintana, maybe you could add this to the end of #24?  It doesn't really deserve it's own discussion.

[2015-11-21 10:56] izuzak commented on #24
In https://github.com/atom/markdown-preview/issues/341 @mark-hahn mentioned:

Hopefully that helps folks who are still waiting for this feature in markdown-preview. Thank you, @mark-hahn

[2015-11-21 10:56] izuzak commented on #341
Thanks, just added a comment there: https://github.com/atom/markdown-preview/issues/24#issuecomment-158627958

[2015-11-21 10:56] #341 closed

[2015-11-23 05:26] ayberkt commented on #20
+1 here

[2015-11-23 12:51] azat-co commented on #86
@izuzak @thbar nice! I also recommend adding these styles to the .less:

[code]

This will show markdown text non-monospaced in the editor!

[2015-11-23 13:00] azat-co commented on #86
For some reason my stylesheet is not picking up the changes though

[2015-11-23 23:41] focusaurus commented on #325
confirmed for `atom@1.2.4` and `markdown-preview@0.156.0`

[2015-11-24 19:03] mp4096 commented on #135
Just to keep @envygeeks' answer up to date: Current package version requires `.markdown-preview.markdown-preview { ... }`:
[code]
See `README.md`

[2015-11-24 19:05] 50Wliu commented on #325
Should be fixed by atom/atom#9796.

[2015-11-24 19:05] #325 closed

[2015-11-25 06:04] simurai commented on #86
Do you have the `Use GitHub.com style` enabled in the package settings? It needs a stronger selector. Also for `.source.gfm`. This should work:

[code]

[2015-11-25 08:30] azat-co commented on #86
@simurai nice. It did the trick! Thank you.

I ended up with these styles:

[code]

[2015-11-25 16:56] axic opened #342 "Renderer output is different to actual Github output"
The below sample markdown renders the numbers without restarting in Atom, while on Github (here) the third point will restart from 1. Perhaps it is an edge case I should rely on. Not sure which renderer is correct, but I like the output from Atom :)

1. test

2. test
[code]

3. test

*Moved from https://github.com/atom/atom/issues/9818. Sorry if this issue is already reported.*

[2015-11-25 17:02] lee-dohm commented on #342
Until the GitHub website and Atom use the exact same Markdown renderer (or both switch to CommonMark-compliant renderers), I don't think this is going to be fixed. There simply is too much ambiguity in Markdown for different parsers to match exactly in all cases. See [CommonMark](http://commonmark.org/).